.slide.halfCut: .wrapper
    .img
        .slideShow
            .prev ‹
            .next ›
            .dots
            .part
                h3 Email de rappel de commande
                .img(style="background-image:url(./svg/avance_01.svg)")
                p Si un client qui commande régulièrement tarde à commander, un petit email de rappel lui sera envoyé
            .part
                h3 Email de confirmations
                .img(style="background-image:url(./svg/avance_02.svg)")
                p  Après commande ou correction, un email est envoyé au client pour lui confirmer l'action
            .part
                h3 SMS de rappel de RDV
                .img(style="background-image:url(./svg/avance_03.svg)")
                p  2h avant un rendez vous, tout les clients reçoivent un sms de rappel
            .part
                h3 Factures
                .img(style="background-image:url(./svg/avance_04.svg)")
                p  Imprimez ou rendez disponible en ligne les factures de chaque commande
            .part
                h3 Ticket de caisses
                .img(style="background-image:url(./svg/avance_05.svg)")
                p  Imprimez jusqu'a 20 tickets de caisse par A4 et massicotez les
            .part
                h3 Stocks
                .img(style="background-image:url(./svg/avance_06.svg)")
                p  Indiquez une quantité max commandable totale pour la semaine
            .part
                h3 Compte client
                .img(style="background-image:url(./svg/avance_07.svg)")
                p Gérez les avoirs et les avances. Listez les clients dans le négatif en quelques clics.
            .part
                h3 Panier préremplis
                .img(style="background-image:url(./svg/avance_08.svg)")
                p  Proposez un panier prédéfini en plus des légumes commandables individuellement.
            .part
                h3 Brouillons de commande
                .img(style="background-image:url(./svg/avance_09.svg)")
                p  Quand un client modifie sa commande, un brouillon est sauvegardé à chaque action.
            .part
                h3 Cases à cocher dans les factures
                .img(style="background-image:url(./svg/avance_10.svg)")
                p  Vérifiez que tout est bon en cochant une case pour chaque produit
            .part
                h3 Préparation à l'avance
                .img(style="background-image:url(./svg/avance_11.svg)")
                p  Imprimez des documents pour préparer les commandes à l'avance
            .part
                h3 Préparation à la demande
                .img(style="background-image:url(./svg/avance_12.svg)")
                p  Avec les tickets de caisse et le recap de cueillette, préparer les commandes à la demande est aussi possible.
            .part
                h3 Produits d'appel
                .img(style="background-image:url(./svg/avance_13.svg)")
                p  Limitez la quantité par personne par semaine pour les produits d'appel.
    .content
        h2 Complet
        p Avec des années de fonctionnement, le logiciel est déjà adapté à votre façon de travailler jusqu'aux détails.
