.blog {
  background: #87caf5;
  padding-top: 55px;
}
.blog a {
  color: #2387c8;
  margin-top: 20px;
  text-decoration: none;
}
.blog a:visited {
  color: #7d9cb1;
}
.blog a:hover span {
  text-decoration: underline;
}
.blog a.back {
  display: block;
}
.blog a.back:before {
  content: "‹";
  font-size: 120%;
  margin-right: 10px;
}
.blog a.front {
  display: block;
  text-align: right;
}
.blog a.front:after {
  text-decoration: none;
  content: "›";
  margin-left: 7px;
  font-size: 1.7em;
  line-height: 1;
  position: relative;
  top: 0.1em;
}
.blog h1 {
  background: #88caf5;
  color: white;
  order: 2;
  font-weight: 100;
  margin: 0;
  font-size: 80px;
  padding: 120px 20px 60px 20px;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 400px) {
  .blog h1 {
    font-size: 40px;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .blog h1 {
    position: fixed;
    padding-left: 55%;
    text-align: left;
  }
}
.blog .list {
  position: relative;
  z-index: 2;
  background: #f9f9f9;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1200px) {
  .blog .list {
    margin: -20px auto;
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .blog .list {
    margin: 80px 50% 40px 40px;
  }
}
.blog .list .blogItem {
  margin-bottom: 50px;
  position: relative;
}
.blog .list .blogItem .date {
  opacity: 0.3;
}
.blog .list .blogItem .title {
  font-weight: bold;
  font-size: 150%;
  color: #333;
  line-height: 2;
}
.blog .list .blogItem .intro {
  color: #666;
}
.blog .list.blogpost {
  overflow: hidden;
}
.blog .list.blogpost .intro {
  opacity: 0.5;
}
.blog .list.blogpost img {
  max-width: 100%;
  margin: 20px 0;
  display: block;
}
.blog ~ .footer {
  padding: 40px;
}
@media (min-width: 1200px) {
  .blog ~ .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: flex-start;
    z-index: 1;
    background: #f9f9f9;
    border-top: none;
    padding-left: 55%;
  }
}
