.slide.halfCut: .wrapper
    .img
        .slideShow
            .prev ‹
            .next ›
            .dots
            .part
                h3 Créez un compte
                .img(style="background-image:url(./img/500/signup.png)")
                p Il vous faut juste une adresse email. Pas besoin de CB pour essayer.

            .part
                h3 Entrez vos produits
                .img(style="background-image:url(./img/500/product.png)")
                p C'est un peu long la première fois, mais ensuite vous aurez juste à faire évoluer votre offre en fonction des récoltes.

            .part
                h3 Entrez votre lieu de RDV
                .img(style="background-image:url(./img/500/deliverypoint.png)")
                p Indique un lieu, un jour et une heure où les clients pourront vous retrouver, récupérer leurs produits et vous régler. Vous pouvez proposer plusieurs points de RDV.

            .part
                h3 Entrez les adresses emails de vos clients
                .img(style="background-image:url(./img/500/addClients.png)")
                p Vous pouvez copier-coller une liste d'email directement. Si certains de vos clients n'ont pas d'adresse emails, vous pourrez passer commande à leur place.

            .part
                h3 Ecrivez un petit texte pour vos clients
                .img(style="background-image:url(./img/500/texts.png)")
                p Cette étape facultative vous permet de donner des nouvelles de  votre exploitation, de promouvoir vos nouveaux produits et de proposer des recettes en rapport avec les fruits &amp; légumes de saison.

            .part
                h3 Envoyez les invitations
                .img(style="background-image:url(./img/500/order-items.png)")
                p Cyberlégume va envoyer un mail personnalisé à chaque client, l'invitant à commander.

            .part
                h3 Vos clients commandent
                .img(style="background-image:url(./img/500/order-form-preview.png)")
                p Ils suivent le lien contenu dans le mail, et remplissent le formulaire avec les produits qu'ils désirent. Ils reçoivent un mail de confirmation, et ont la possibilité de corriger leur commande par la suite s'ils le souhaitent.

            .part
                h3 Préparez les paniers
                .img(style="background-image:url(./img/500/recapPreparation.png)")
                p Quelques heures avant la livraison (paramétrable), les commandes sont bloquées, et vous pouvez commencer à les préparer. Le système est prévu pour vous laisser livrer plus ou moins que la quantité demandée par le client (pour le cas de visites impromptues des limaces par exemple).

            .part
                h3 Imprimez les factures
                .img(style="background-image:url(./img/500/invoices-1.png)")
                p  Vous pouvez personnaliser l'entête et le pied de page de vos factures, avec votre logo et les mentions légales nécessaires. Vous pouvez imprimer une ou deux factures par page, ainsi que des tickets de caisse.

            .part
                h3 Evitez les paniers oubliés
                .img(style="background-image:url(./img/500/smsreminder.png)")
                p Parce qu'un client oublie facilement le RDV, cyberlégume envoie automatiquement un SMS de rappel 2h avant la livraison.

            .part
                h3 Vous livrez vos clients
                .img(style="background-image:url(./img/500/invoices-12.png)")
                p Vos clients vous retrouvent au RDV prévu, récupèrent leur panier et vous règlent.

            .part
                h3 Vous indiquez les paiements reçus
                .img(style="background-image:url(./img/500/payments.png)")
                p Cyberlégume vous permet d'indiquer le mode de règlement de chaque client, ce qui apparaitra dans le tableau de comptabilité.

    .content
        h2 Déroulement
        p Vue d'ensemble de votre première vente avec cyberlégume

