include mixins
+page("Fonctions avancées","ciboulette.net vous propose pas mal de petites fonctions et détails aquéris avec les temps")
  .fonctions_grid 
    .fonction
        h3 Panier prédéfinis
        p  Proposez un panier prédéfini en plus des légumes au détail.
    .fonction
        h3 SMS de rappel de RDV
        p  2h avant un rendez-vous, les clients reçoivent un sms de rappel
    .fonction
        h3 Compte client
        p Gérez les avoirs et les avances. Listez les clients dans le négatif.
    .fonction
        h3 Stocks
        p  Indiquez une quantité max commandable totale pour la semaine
    .fonction
        h3 Produits d'appel
        p  Limitez la quantité par personne par semaine pour les produits d'appel.
    .fonction
        h3 Email de rappel
        p Seconde invitation optionnelle pour les clients distraits
    .fonction
        h3 Email de confirmations
        p  Après commande ou correction, un email est envoyé au client 
    .fonction
        h3 Factures
        p  Editez une ou deux facture par A4, avec ou sans TVA
    .fonction
        h3 Ticket de caisses
        p  Imprimez jusqu'a 20 tickets de caisse par A4 et massicotez-les
    .fonction
        h3 Points de rendez-vous multiples
        p Un client peut avoir le choix entre plusieurs rendez-vous
    .fonction
        h3 Produits on/off
        p Désactivez temporairement des produits, retrouvez les l'année d'après
    .fonction
        h3 Discussions
        p Commentaires directement sur les commandes pour rêgler les détails des produits.
    .fonction
        h3 Brouillons de commande
        p  Quand un client modifie sa commande, un brouillon est sauvegardé.
    .fonction
        h3 Cases à cocher dans les factures
        p  Vérifiez que tout est bon en cochant une case pour chaque produit
    .fonction
        h3 Préparation à l'avance
        p  Imprimez les récapitulatifs de cueillette et préparation, préparez les paniers, puis livrez-les.
    .fonction
        h3 Préparation à la demande
        p  Imprimez le récapitulatif de cueillette, allez au rendez-vous avec les produits en vrac, et préparez les paniers à la demande
