include mixins
+page("Fonctions avancées","SMS de rappel de RDV, email de confirmation, paniers prédéfinis, minimum de commande ...")
  .grid 
    .grid-item
        h3 Panier prédéfinis
        p  Proposez un panier prédéfini en plus des légumes au détail.
        a(href="https://youtu.be/o-nl8ZEcuWU" target="_blank") Vidéo explicative
    .grid-item
        h3 Rappel de rendez vous
        p  2h avant un rendez-vous, les clients reçoivent un sms de rappel
        a(href="https://youtu.be/-pc5251LHpA" target="_blank") Vidéo explicative
    .grid-item
        h3 Compte client
        p Gérez les avoirs et les avances. Listez les clients dans le négatif.
        a(href="https://youtu.be/F37-Z2yJnyU" target="_blank") Vidéo explicative
    .grid-item
        h3 Stocks
        p  Indiquez une quantité max commandable totale pour la semaine
        a(href="https://youtu.be/jrrCksWlxDM" target="_blank") Vidéo explicative
    .grid-item
        h3 Produits d'appel
        p  Limitez la quantité par personne par semaine pour les produits d'appel.
        a(href="https://youtu.be/zRGOL_ErmhA" target="_blank") Vidéo explicative
    .grid-item
        h3 Email de rappel
        p Seconde invitation optionnelle pour les clients distraits
    .grid-item
        h3 Email de confirmations
        p  Après commande ou correction, un email est envoyé au client 
    .grid-item
        h3 Factures
        p  Editez une ou deux facture par A4, avec ou sans TVA
    .grid-item
        h3 Ticket de caisses
        p  Imprimez jusqu'a 20 tickets de caisse par A4 et massicotez-les
    .grid-item
        h3 Multiples rendez-vous
        p Un client peut avoir le choix entre plusieurs rendez-vous
    .grid-item
        h3 Produits on/off
        p Désactivez temporairement des produits, retrouvez les l'année d'après
    .grid-item
        h3 Discussions
        p Commentaires directement sur les commandes pour rêgler les détails des produits.
    .grid-item
        h3 Brouillons de commande
        p  Quand un client modifie sa commande, un brouillon est sauvegardé.
    .grid-item
        h3 Vérifier les factures
        p  Vérifiez que tout est bon en cochant une case pour chaque produit dans les factures
    .grid-item
        h3 Préparation à l'avance
        p  Imprimez les récapitulatifs de cueillette et préparation, préparez les paniers, puis livrez-les.
    .grid-item
        h3 Préparation à la demande
        p  Imprimez le récapitulatif de cueillette, allez au rendez-vous avec les produits en vrac, et préparez les paniers à la demande
