include mixins
+page("Fonctions avancées","SMS de rappel de RDV, email de confirmation, paniers prédéfinis, minimum de commande ...")
  .grid  
    .grid-item
        h3 Stocks
        p  Indiquez une quantité max commandable totale pour la semaine
        a(href="https://youtu.be/FuxmCFaVb-k" target="_blank") Vidéo explicative
    .grid-item
        h3 SMS et emails de rappel
        p  2h avant un rendez-vous, les clients reçoivent un sms de rappel
        a(href="https://youtu.be/plv9yzqwyek" target="_blank") Vidéo explicative
    .grid-item
        h3 Compte client, avoirs, suivi des paiements
        p Gérez les avoirs et les avances. Listez les clients dans le négatif.
        a(href="https://youtu.be/xwRcGwcoBvU" target="_blank") Vidéo explicative
    .grid-item
        h3 Multiples rendez-vous
        p Un client peut avoir le choix entre plusieurs rendez-vous
        a(href="https://youtu.be/i_r7HPXQKn4" target="_blank") Vidéo explicative
    .grid-item
        h3 Factures
        p  Editez une ou deux facture par A4, avec ou sans TVA
        a(href="https://youtu.be/gehHZsxHbqs" target="_blank") Vidéo explicative
    .grid-item
        h3 Ticket de caisses
        p  Imprimez jusqu'a 20 tickets de caisse par A4 et massicotez-les
        a(href="https://youtu.be/QsBF8rE_8PQ" target="_blank") Vidéo explicative
    .grid-item
        h3 Produits d'appel et clients VIP
        p  Limitez la quantité par personne par semaine pour les produits d'appel.
        a(href="https://youtu.be/h8IWqTrfqVI" target="_blank") Vidéo explicative
    .grid-item
        h3 Panier prédéfinis
        p  Proposez un panier prédéfini en plus des légumes au détail.
        a(href="https://youtu.be/6Kd9bjqy-_U" target="_blank") Vidéo explicative
        
    .grid-item
        h3 Formulaire d'inscription
        p  Laissez vos clients s'ajouter eux même à votre fichier client. 
        a(href="https://youtu.be/04OIhxWfM0Q" target="_blank") Vidéo explicative
    .grid-item
        h3 Vente à la pièce, facturation au kg
        p  Une fonction "spécial courges"
        a(href="https://youtu.be/7reivDujDMI" target="_blank") Vidéo explicative
    .grid-item
        h3 Brouillons de commande
        p  Quand un client choisi ses produits, un brouillon est sauvegardé.
        a(href="https://youtu.be/GjB0VXlQJDg" target="_blank") Vidéo explicative
    .grid-item
        h3 Discussions
        p Commentaires directement sur les commandes pour rêgler les détails des produits.
        a(href="https://youtu.be/UOju280LaGY" target="_blank") Vidéo explicative
    .grid-item
        h3 Produits et RDVs on/off
        p Désactivez des éléments pour ne pas avoir à les recréer plus tard
        a(href="https://youtu.be/CTdHLtwrKNU" target="_blank") Vidéo explicative