include mixins.jade

+page("Cyberlégume : vente directe sur commande de fruits & légumes","Système de vente sur commande en ligne pour les maraîchers. Essayez CyberLégume gratuitement pendant 30 jours !")
    .slide: .wrapper
        h1 Prise de commande automatique
        .img: img(src!='./svg/app_mock.min.svg').upScale
        p Pour fruits & légumes bio
        a.button(href="https://app.cyberlegu.me") Essayer gratuitement

    .slide: .wrapper
        h2 Pour qui ?
        .img: img(src!='./svg/c.min.svg').upScale
        ul.check
            li Vous présentez votre offre produit avec un mail hebdomadaire.
            li Vos clients répondent avec les quantités voulues.
            li Vous proposez un ou plusieurs rendez-vous pour récupérer les paniers
        p Alors notre logiciel est fait pour vous.
    .slide: .wrapper
        h2 Simple
        .img: img(src!='./svg/simple.min.svg').upScale
        p Indiquez juste vos produits, clients et rendez-vous.
        p Mettez à jours ces listes la semaine suivante.

    .slide: .wrapper
        h2 Complet
        .img: img(src!='./svg/full.min.svg').upScale
        p Avec des années de fonctionnement, le logiciel est déjà adapté à votre façon de travailler jusqu'aux détails.


    .slide: .wrapper
        h2 Evolutif
        .img.touchLeft: img(src!='./svg/evolutif.min.svg').upScale
        p Nous sommes à votre écoute pour implémenter les fonctions qui vous manquent.
        p Cyberlégume s'est construit sur les bonnes idées de ses clients, on attend les vôtres.


    .slide: .wrapper
        h2 Rapide
        .img: img(src!='./svg/rapide.min.svg').upScale
        p Notre but : que vous passiez le moins de temps possible sur cyberlégume.
        p Par exemple, si vous n'avez pas de photo pour vos produits, nous vous proposons les premiers résultats google image


    .slide: .wrapper
        h2 Vos clients vont adorer
        .img: img(src!='./svg/client_love_face.min.svg').upScale
        p Pas de mot de passe à retenir,  compatible mobile, email de confirmation de commande, sms de rappel de RDV .. cyberlégume chouchoutte vos clients !

