html
    head
        link(rel="stylesheet" href="./v2_style.css")
        title Cyberlégume : logiciel de vente sur commande de fruits &amp; légumes

        link(rel='shortcut icon' type='image/png' href='/favicon.png')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="CyberLégume est un système de Commande en ligne dédiés aux maraichers en vente directe. Essayez CyberLégume gratuitement pendant 30 jours !")

        meta(name='twitter:card', content='')
        meta(name='twitter:site', content='@CyberLegume')
        meta(name='twitter:title', content='CyberLégume')
        meta(name='twitter:description', content='CyberLégume est un système de Commande en ligne dédiés aux maraichers en vente directe.')
        meta(name='twitter:creator', content='@RenanLeCaro')
        meta(name='twitter:image', content='http://i.imgur.com/lbAdWnq.png')
        meta(property='og:title', content='CyberLégume')
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://http://app.cyberlegu.me/')
        meta(property='og:image', content='http://i.imgur.com/lbAdWnq.png')
        meta(property='og:description', content='CyberLégume est un système de Commande en ligne dédiés aux maraichers en vente directe.')
        meta(property='og:site_name', content='CyberLégume')
        meta(property='fb:admins', content='1136448477')

    body
        include v2_index
        script(src="./v2_scripts.js")