include mixins

+page("ciboulette.net : vente directe sur commande de fruits & légumes","Système de vente sur commande en ligne pour les maraîchers. Essayez ciboulette.net gratuitement pendant 30 jours !")
    .slide: .wrapper.centerOnSmallScreen
        h1 Prise de commandes automatique
        .img: img(src!='./svg/app_mock.min.svg').upScale
        
        ul.check
            li Offre produit par mail hebdomadaire.
            li Prise de commande au détail
            li Vous livrez sur rendez-vous
 
        a.button(href="https://app.ciboulette.net/") Essayer le logiciel

 
    .slide: .wrapper
        h2 Simple
        .img: img(src!='./svg/simple.min.svg').upScale
        p Indiquez juste vos produits, clients et rendez-vous.
        p Mettez à jours ces listes la semaine suivante.
        a.button.outline(href="/premiere_vente.html") Tutoriels

    .slide: .wrapper
        h2 Complet
        .img: img(src!='./svg/full.min.svg').upScale
        p Avec des années de fonctionnement, le logiciel est déjà adapté à votre façon de travailler jusqu'aux détails.
        a.button.outline(href="/fonctions.html") Fonctions


    .slide: .wrapper
        h2 Evolutif
        .img.touchLeft: img(src!='./svg/evolutif.min.svg').upScale
        p Nous sommes à votre écoute pour implémenter les fonctions qui vous manquent.
        p ciboulette.net s'est construit sur les bonnes idées de ses clients, on attend les vôtres.
        p Les progrès sont reportés dans le blog
        a.button.outline(href="/blog") Blog
 
    .slide: .wrapper
        h2 Vos clients vont adorer
        .img: img(src!='./svg/client_love_face.min.svg').upScale
        p Pas de mot de passe à retenir,  compatible mobile, email de confirmation de commande, sms de rappel de RDV .. ciboulette.net chouchoutte vos clients !

