html.errorPage
  head
    meta(name="robots" content="noindex")
    link(rel="stylesheet" href="/styles/style.css")
    title ciboulette.net est en maintenance
  body 

    .slide(style="background:none; color: #333;"): .wrapper
        h2 ciboulette.net est en maintenance
        .img: img(src="/img/homemade_svg/maintenance_picture.svg.png") 
        p C'est volontaire, et nous permet d'effectuer des modifications lourdes sur l'appli sans risque de corrompre vos données.
        p Typiquement, ça dure moins d'une demi heure, à bientôt ! 