mixin newsLetter()
 form#mc-embedded-subscribe-form.validate(action='https://gmail.us20.list-manage.com/subscribe/post?u=41e9e165060bfc2b465c44f6a&id=607e36af07', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    
          input#email(type='email',   name='EMAIL' placeholder="Votre email pour la Newsletter" required)
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_41e9e165060bfc2b465c44f6a_607e36af07', tabindex='-1', value='')
          input#send.button(type='submit', value="Recevoir les news", name='subscribe')

mixin page(title, description)
    html
        head
            meta(charset="UTF-8")
            title=title
            meta(name="description" content=description)
            link(rel="stylesheet" href="/styles/style.css")
            link(rel='shortcut icon' type='image/png' href='/favicon.png')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name='twitter:site', content='@CyberLegume')
            meta(name='twitter:title', content='CyberLégume')
            meta(name='twitter:creator', content='@RenanLeCaro')
            meta(name='twitter:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:title', content='CyberLégume')
            meta(property='og:type', content='website')
            meta(property='og:url', content='https://cyberlegu.me/')
            meta(property='og:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:description', content='CyberLégume est un système de Commande en ligne dédiés aux maraichers en vente directe.')
            meta(property='og:site_name', content='CyberLégume')
            meta(property='fb:admins', content='1136448477')
        body
            block
            nav#topMenu
              input(type="checkbox")#toggleMenu
              a(href="/").appName Cyberlégume
              a(href="/premiere_vente.html") Première vente
              a(href="/fonctions.html") Fonctions avancées
              a(href="/tarif.html") Prix
              a(href="/blog/") Blog
              .grow
              a(target="_blank" href="https://app.cyberlegu.me").try Essayer gratuitement
              label(for="toggleMenu").toggleMenu Menu
            .footer
            
              .part 
                | Renan LE CARO auto-entreprise
              .part
                | Tel :
                a(href="tel:+336 28 35 01 14") 06 28 35 01 14
              .part
                | Email :
                a(href="mailto:renan.lecaro@gmail.com") renan.lecaro@gmail.com
              .part Siret : 51532033100025
              .part La Basse Bouexière n°9, 35360 ,Médréac, France
              .part            
                | Ce site n'utilise pas de cookies marketing
                a(href="/cgu.html") CGU
              +newsLetter()              
            script(src="/scripts.js")
