mixin newsLetter()
 form#mc-embedded-subscribe-form.validate(action='https://gmail.us20.list-manage.com/subscribe/post?u=41e9e165060bfc2b465c44f6a&id=607e36af07', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    
          input#email(type='email',   name='EMAIL' placeholder="Votre email pour la Newsletter" required)
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_41e9e165060bfc2b465c44f6a_607e36af07', tabindex='-1', value='')
          input#send.button(type='submit', value="Recevoir les news", name='subscribe')

mixin page(title, description)
    html
        head
            meta(charset="UTF-8")
            title=title
            meta(name="description" content=description)
            link(rel="stylesheet" href="/styles/style.css")
            link(rel='shortcut icon' type='image/png' href='/favicon.png')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name='twitter:site', content='@ciboulette.net')
            meta(name='twitter:title', content='ciboulette.net')
            meta(name='twitter:creator', content='@RenanLeCaro')
            meta(name='twitter:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:title', content='ciboulette.net')
            meta(property='og:type', content='website')
            meta(property='og:url', content='https://ciboulette.net/')
            meta(property='og:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:description', content='Ciboulette.net est un système de Commande en ligne dédiés aux maraichers en vente directe.')
            meta(property='og:site_name', content='ciboulette.net')
            meta(property='fb:admins', content='1136448477')
        body
            block
            nav#topMenu
              input(type="checkbox")#toggleMenu
              a(href="/").appName Ciboulette.net
              .grow
              a(href="/premiere_vente.html") Tutoriels
              a(href="/fonctions.html") Fonctions
              a(href="/tarif.html") Prix
              a(href="/blog/") Blog
              a(target="_blank" href="https://trello.com/b/GaZSJzzq/cyberl%C3%A9gume-roadmap") Roadmap
              a(target="_blank" href="https://app.ciboulette.net") Connexion
              label(for="toggleMenu").toggleMenu Menu
            .footer
            
              +newsLetter()             
              .part 
                a(href="tel:+336 28 35 01 14") 06 28 35 01 14
              .part 
                a(href="mailto:renan.lecaro@gmail.com") renan.lecaro@gmail.com 
              .part            
                a(href="/cgu.html") Conditions générales  
            script(src="/scripts.js")
