mixin page(title, description)
    html
        head
            meta(charset="UTF-8")
            title=title
            meta(name="description" content=description)
            link(rel="stylesheet" href="/styles/style.css")
            link(rel='shortcut icon' type='image/png' href='/favicon.png')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name='twitter:site', content='@ciboulette.net')
            meta(name='twitter:title', content='ciboulette.net')
            meta(name='twitter:creator', content='@RenanLeCaro')
            meta(name='twitter:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:title', content='ciboulette.net')
            meta(property='og:type', content='website')
            meta(property='og:url', content='https://ciboulette.net/')
            meta(property='og:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:description', content='Ciboulette.net est un système de Commande en ligne dédiés aux maraichers en vente directe.')
            meta(property='og:site_name', content='ciboulette.net')
            meta(property='fb:admins', content='1136448477')
        body
            block
            nav#topMenu
              input(type="checkbox")#toggleMenu
              a(href="/").appName Ciboulette.net 
              a(href="/fonctions.html") Fonctions
              a(href="/tarif.html") Prix
              a(href="/blog/") Blog
              .grow
              a(target="_blank" href="https://app.ciboulette.net") Connexion
              label(for="toggleMenu").toggleMenu Menu
            .footer
 
              .part
                a(href="mailto:renan.lecaro@gmail.com") renan.lecaro@gmail.com
              .part
                a(href="/cgu.html") Conditions générales
              .part
                a(target="_blank" href="https://trello.com/b/GaZSJzzq/ciboulettenet-roadmap") Planning des améliorations
              .part
                a(target="_blank" href="https://uptime.ciboulette.net/") Historique de connectivité du site


            script(src="/scripts.js")
            script(async defer data-domain="ciboulette.net" src="https://stats.ciboulette.net/js/plausible.js")

