mixin page(title, description)
    html
        head
            meta(charset="UTF-8")
            title=title
            meta(name="description" content=description)
            link(rel="stylesheet" href="/styles/style.css")
            link(rel='shortcut icon' type='image/png' href='/favicon.png?v=2')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name='twitter:site', content='@ciboulette.net')
            meta(name='twitter:title', content='ciboulette.net')
            meta(name='twitter:creator', content='@RenanLeCaro')
            meta(name='twitter:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:title', content='ciboulette.net')
            meta(property='og:type', content='website')
            meta(property='og:url', content='https://ciboulette.net/')
            meta(property='og:image', content='https://i.imgur.com/KXzgfoT.png')
            meta(property='og:description', content='Ciboulette.net est un système de Commande en ligne dédiés aux maraichers en vente directe.')
            meta(property='og:site_name', content='ciboulette.net')
            meta(property='fb:admins', content='1136448477')
        body
            block
            nav#topMenu
              input(type="checkbox")#toggleMenu
              a(href="/").appName Ciboulette.net 
              a(href="/tarif.html") Prix
              a(href="/fonctions.html") Fonctions
              a(href="/faq.html") FAQ
              a(href="/blog/") Blog
              .grow
              a(target="_blank" href="https://app.ciboulette.net") Connexion
              a(target="_blank" href="https://app.ciboulette.net" onClick="plausible('signup')").signUp Inscription
              label(for="toggleMenu").toggleMenu Menu
            .footer
 
              .part.gridded
                strong Coordonnées

                .k Nom
                .v Renan LE CARO

                .k E-mail
                .v: a(href="mailto:renan.lecaro@gmail.com") renan.lecaro@gmail.com

                .k Teléphone
                .v: a(href="tel:+33628350114") +33 6 28 35 01 14
                .k Adresse 
                .v 
                  | La Basse Bouexière n°9
                  br
                  | 35360 Médréac 
              .part.gridded
                strong Entreprise 
                .k Société
                .v: a(target="_blank" href="https://www.societe.com/societe/monsieur-renan-le-caro-515320331.html") 
                  | Auto Entreprise 
                  br
                  | Renan LE CARO 

                .k SIRET
                .v 51532033100025 
                .k TVA
                .v FR 31 515320331  
                .k CGU
                .v: a(href="/cgu.html") Conditions générales

              .part
                strong Autres liens
                div
                  a(target="_blank" href="https://www.facebook.com/ciboulette.net/") Facebook
                  | &nbsp;: page officielle
                div
                  a(target="_blank" href="https://trello.com/b/GaZSJzzq/ciboulettenet-roadmap") Trello
                  | &nbsp;: évolutions prévues
                div 
                  a(target="_blank" href="https://uptime.ciboulette.net/") Statuscake
                  | &nbsp;: historique maintenances
                div
                  a(target="_blank" href="https://fr.trustpilot.com/review/ciboulette.net") Trustpilot
                  | &nbsp;: avis clients
                div
                  a(target="_blank" href="https://plausible.io/ciboulette.net") Plausible
                  | &nbsp;: Statistiques de ce site
            script(src="/scripts.js")
            script.
              window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
            script(async defer data-domain="ciboulette.net" src="https://stats.ciboulette.net/js/plausible.js")

