.slide.halfCut: .wrapper
    .img
        .slideShow
            .prev ‹
            .next ›
            .dots
            .part
                h3 Synchronisé en temps réel
                p Si votre ordinateur tombe en rade, vous ne perdez rien. Vous pouvez accéder aux données depuis n'importe quel autre ordinateur. Les changements faits sur un ordinateur seront répercutés sur les autres dans les secondes suivantes.

    .content
        h2 Moderne
        p Cyberlégume est à la pointe de la technologie, et compte le rester.


