.slide: .wrapper
    .img
        .slideShow
            .prev ‹
            .next ›
            .dots
            .part
                h3 Pas de mot de passe
                .img(style="background-image:url(./svg/client_love_01.svg)")
                p Le lien contenu dans l'email d'invitation sert d'authentification, donc pas de mot de passe à retenir

            .part
                h3 Formulaire tout simple
                .img(style="background-image:url(./svg/client_love_02.svg)")
                p Difficile de se tromper dans les quantités avec un formulaire aussi simple.

            .part
                h3 Plus de pièces jointes à éditer
                .img(style="background-image:url(./svg/client_love_03.svg)")
                p Editer un .xlsx sous open-office, entrer sa commande, et le renvoyer en .odt pour qu'il soit ouvert dans word .. c'est pas simple pour tout le monde

            .part
                h3 Rappels pour les têtes en l'air
                .img(style="background-image:url(./svg/client_love_04.svg)")
                p Oublier de commander, partir sans valider, ne plus se souvenir de ce qu'on a commandé, zapper le rdv .. ça arrive à tout le monde. On s'assure que ce soit pas génant

            .part
                h3 Fonctionne partout
                .img(style="background-image:url(./svg/client_love_05.svg)")
                p Pas besoin d'ouvrir office, même sur mobile en quelques clics la commande est passée

    .content
        h2 Vos clients vont adorer
        p Pas de mot de passe à retenir,  compatible mobile, email de confirmation de commande, sms de rappel de RDV .. cyberlégume chouchoutte vos clients !

