html.errorPage
  head 
    meta(name="robots" content="noindex")
    link(rel="stylesheet" href="/styles/style.css")
    title ciboulette.net a planté
  body 

    .slide(style="background:none; color: #333;"): .wrapper
        h2 ciboulette.net a planté
        .img: img(src="/img/homemade_svg/error_picture.svg.png") 
        p Le serveur n'arrive pas a redémarrer.
        p Nous sommes au courant du problème et faisont tout ce que nous pouvons pour resoudre la situation rapidement. 