@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&subset=latin-ext');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
}
@media (min-width: 800px) {
  body {
    font-size: 150%;
  }
}
.slide {
  padding: 1rem;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 800px) {
  .slide .wrapper {
    padding-left: 52.5%;
  }
}
.slide .wrapper > .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .slide .wrapper > .img {
    width: 47.5%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.slide .wrapper > .img > img {
  width: auto;
  max-width: 80vw;
}
.slide .wrapper > .img > img.upScale {
  height: 50vh;
}
.slide .wrapper h1,
.slide .wrapper h2 {
  font-weight: 100;
  font-size: 80px;
  margin-top: 0;
}
@media (max-width: 800px) {
  .slide .wrapper h1,
  .slide .wrapper h2 {
    font-size: 2em;
    font-weight: 400;
    margin: 40px 0;
    text-align: center;
  }
}
.slide .wrapper p {
  line-height: 1.5;
}
.slide:nth-child(2n+1) {
  background-color: #89caf5;
  background: radial-gradient(#89caf5, #71bff3);
  color: white;
}
.slide:nth-child(2n),
.footer {
  background-color: #f5f5f5;
  background: radial-gradient(#f5f5f5, #dcdcdc);
  color: #333;
}
.button {
  display: inline-block;
  background: #88AA02;
  text-decoration: none;
  color: white;
  text-align: center;
  border: none;
  padding: 1em 2em;
  margin: 0.5em 0;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 0 #678200;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
}
.button:active,
.button:focus {
  box-shadow: 0 0px 0 #678200;
  transform: translate(0, 2px);
  background-color: #80a000;
  transition: transform 0.2s, box-shadow 0.2s;
}
ul.check {
  list-style: none;
  padding: 0;
}
ul.check li {
  padding: 10px 10px 20px 50px;
  position: relative;
}
ul.check li:before {
  content: "";
  width: 40px;
  height: 40px;
  background: url("svg/check.svg");
  position: absolute;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .slide {
    order: 1;
  }
}
nav#topMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: #75c2f3;
  z-index: 2;
}
@media (max-width: 800px) {
  nav#topMenu {
    position: initial;
    order: 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  nav#topMenu a.try {
    align-self: flex-end;
  }
}
nav#topMenu a {
  text-decoration: none;
  padding: 20px 10px;
  color: white;
  font-size: 16px;
}
@media (min-width: 800px) {
  nav#topMenu a {
    min-width: 100px;
    text-align: center;
  }
}
nav#topMenu a:hover,
nav#topMenu a.isCurrentPage {
  background: rgba(0, 0, 0, 0.1);
}
nav#topMenu a.try {
  padding: 10px;
  margin: 10px;
  background: #88aa02;
  text-transform: uppercase;
}
nav#topMenu a.try:hover {
  background: #749102;
}
nav#topMenu .grow {
  flex-grow: 1;
}
@media (min-width: 800px) {
  .slide:first-child {
    padding-top: 68px;
  }
}
.footer {
  border-top: 1px solid #dadada;
  margin: 0;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  order: 2;
}
@media (min-width: 800px) {
  .footer {
    display: flex;
    font-size: 70%;
  }
}
.footer .part {
  padding: 2em;
}
@media (min-width: 800px) {
  .footer .part {
    width: 50%;
  }
}
.footer .part a {
  margin: 0 5px;
  color: #0062a3;
}
.footer .part .dim {
  opacity: 0.5;
}
