@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&subset=latin-ext');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
}
@media (min-width: 800px) {
  body {
    font-size: 150%;
  }
}
.slide {
  padding: 1rem;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 800px) {
  .slide .wrapper {
    padding-left: 52.5%;
  }
}
.slide .wrapper > .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .slide .wrapper > .img {
    width: 47.5%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.slide .wrapper > .img > img {
  width: auto;
  max-width: 80vw;
}
.slide .wrapper > .img > img.upScale {
  height: 50vh;
}
.slide .wrapper h1,
.slide .wrapper h2 {
  font-weight: 100;
  font-size: 80px;
  margin-top: 0;
}
@media (max-width: 800px) {
  .slide .wrapper h1,
  .slide .wrapper h2 {
    font-size: 2em;
    font-weight: 400;
    margin: 40px 0;
    text-align: center;
  }
}
.slide .wrapper p {
  line-height: 1.5;
}
.slide:nth-child(2n+1) {
  background-color: #89caf5;
  background: radial-gradient(#89caf5, #71bff3);
  color: white;
}
.slide:nth-child(2n) {
  background-color: #f5f5f5;
  background: radial-gradient(#f5f5f5, #dcdcdc);
  color: #333;
}
.button {
  display: inline-block;
  background: #88AA02;
  text-decoration: none;
  color: white;
  text-align: center;
  border: none;
  padding: 1em 2em;
  margin: 0.5em 0;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 0 #678200;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
}
.button:active,
.button:focus {
  box-shadow: 0 0px 0 #678200;
  transform: translate(0, 2px);
  background-color: #80a000;
  transition: transform 0.2s, box-shadow 0.2s;
}
ul.check {
  list-style: none;
  padding: 0;
}
ul.check li {
  padding: 10px 10px 20px 50px;
  position: relative;
}
ul.check li:before {
  content: "";
  width: 40px;
  height: 40px;
  background: url("svg/check.svg");
  position: absolute;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.slideShow {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0 40px 20px 40px;
}
.slideShow .next,
.slideShow .prev {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  -webkit-user-select: none;
}
.slideShow .next:hover,
.slideShow .prev:hover {
  background: rgba(0, 0, 0, 0.3);
}
.slideShow .prev {
  left: 0;
}
.slideShow .next {
  right: 0;
}
.slideShow .part {
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.slideShow .part > * {
  flex-grow: 0;
}
.slideShow .part > .img {
  flex-grow: 1;
  flex-shrink: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  align-self: center;
}
.slideShow .part > ul {
  list-style: square;
  text-align: left;
}
.slideShow .dots {
  display: flex;
  position: absolute;
  justify-content: center;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
}
.slideShow .dots i {
  margin-left: 4px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 50%;
}
.slideShow .dots i.active {
  background: #333333;
}
@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .slide {
    order: 1;
  }
}
nav#topMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: #75c2f3;
  z-index: 2;
}
@media (max-width: 800px) {
  nav#topMenu {
    position: initial;
    order: 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  nav#topMenu a.try {
    align-self: flex-end;
  }
}
nav#topMenu a {
  text-decoration: none;
  padding: 20px 10px;
  color: white;
  font-size: 16px;
}
nav#topMenu a:hover,
nav#topMenu a.isCurrentPage {
  background: rgba(0, 0, 0, 0.1);
}
nav#topMenu a.try {
  padding: 10px;
  margin: 10px;
  background: #88aa02;
  text-transform: uppercase;
}
nav#topMenu a.try:hover {
  background: #749102;
}
nav#topMenu .grow {
  flex-grow: 1;
}
@media (min-width: 800px) {
  .slide:first-child {
    padding-top: 68px;
  }
}
