@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-top: 67px;
}
.greyBackground {
  background: #0e212b;
  color: white;
  text-align: center;
  min-height: 50vh;
  padding: 0 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 460px) {
  .greyBackground {
    font-size: 69%;
  }
}
@media (max-width: 310px) {
  .greyBackground {
    font-size: 40%;
  }
}
.greyBackground .main {
  font-size: 450%;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.greyBackground .sub {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 140%;
  line-height: 1;
}
.imageAndCaption {
  padding: 0 1rem;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .imageAndCaption {
    flex-direction: column;
    align-items: center;
  }
}
.imageAndCaption .img {
  width: 200px;
  height: 200px;
  flex-basis: 200px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 1rem;
  text-align: center;
}
.imageAndCaption .img img {
  max-width: 100%;
  cursor: pointer;
}
.imageAndCaption h3 {
  margin: 0.5rem 0;
  color: #0e212b;
}
.imageAndCaption p {
  margin: 0.5rem 0;
  font-weight: 100;
}
.buttonLike {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 0.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
}
#topButtons {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  background: #0e212b;
  display: flex;
  height: 67px;
  box-sizing: border-box;
  overflow: hidden;
}
#topButtons a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 0.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
}
@media (max-width: 390px) {
  #topButtons {
    font-size: 70%;
  }
}
@media (max-width: 550px) {
  #topButtons .AppName {
    display: none;
  }
  #topButtons .right a {
    flex-grow: 1;
  }
}
#topButtons .ShortCuts {
  display: flex;
}
@media (max-width: 1060px) {
  #topButtons .ShortCuts {
    display: none;
  }
}
#topButtons .right {
  display: flex;
  font-weight: bold;
  flex-grow: 1;
  justify-content: flex-end;
}
div#firstSlide .ctas {
  display: flex;
}
.login {
  background-color: white;
  color: #0e212b !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 0.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
}
.signup {
  background-color: #88aa02;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 0.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
}
.imageAndCaption,
.justText {
  max-width: 800px;
  margin: 2rem auto;
}
.justText {
  padding: 1rem;
}
.justText a {
  color: #0281aa;
  padding: 0 5px;
}
@media (min-width: 600px) {
  .justText {
    padding: 2rem;
  }
}
.fullSizePreviewWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s;
}
.fullSizePreviewWrapper img {
  animation: slideIn 0.3s ease-out;
}
.fullSizePreviewWrapper.fading {
  animation: fadeOut 0.6s;
}
.fullSizePreviewWrapper.fading img {
  animation: slideOut 0.3s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  50%,
  100% {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    transform: scale(0.8) rotateX(22deg) translate(0, -100px);
  }
}
@keyframes slideOut {
  100% {
    transform: scale(0.8) rotateX(22deg) translate(0, 100px);
  }
}
