.slide.halfCut: .wrapper
    .img
        .slideShow
            .prev ‹
            .next ›
            .dots
            .part
                h3 Photos automatiques
                .img(style="background-image:url(img/500/productPhoto.png)")
                p Pas de photo pour un produit ? On vous propose des résultats google image

            .part
                h3 Modification directe
                ul
                    li Vous pouvez corriger le prix  d'un produit à tout moment, même s'il a déjà été commandé.
                    li Vous pouvez modifier une commande au nom du client.
                    li Vous pouvez supprimer un rdv après coup.


            //.part
            //    h3 Rappels pour les têtes en l'air
            //    .img(style="background-image:url(./svg/client_love_04.svg)")
            //    p Oublier de commander, partir sans valider, ne plus se souvenir de ce qu'on a commandé, zapper le rdv .. ça arrive à tout le monde. On s'assure que ce soit pas génant
            //
            //.part
            //    h3 Fonctionne partout
            //    .img(style="background-image:url(./svg/client_love_05.svg)")
            //    p Pas besoin d'ouvrir office, même sur mobile en quelques clics la commande est passée
            //
    .content
        h2 Rapide
        p Notre but : que vous passiez le moins de temps possible sur cyberlégume, vous avez mieux à faire que cliquer des boutons.

