include mixins.jade

+page("Tarif de cyberlégume, logiciel pour maraîcher","Cyberlégume peut être essayé un mois, puis "+price+"€ / mois")
    .slide: .wrapper
        h1=price + '€ / mois'
        .img: img(src!='./svg/tarif.min.svg').upScale
        p Ce tarif nous permet de payer les frais de fonctionnement, le système d'envoi de SMS de rappel, et de financer les différentes évolutions dont bénéficie le site.
        p Après le mois d'essai gratuit, nous vous contacterons pour savoir si vous souhaitez continuer d'utiliser le produit
        p TVA non applicable - article 293 B du CGI



    .slide: .wrapper
        h2 Un simple outil, pas un intermédiaire
        .img: img(src!='./svg/just_a_tool.min.svg').upScale

        p Vous gérez vous-même la livraison des produits et la réception des paiements, et c'est très bien ainsi.


