include mixins

+page("Tarif de ciboulette.net, logiciel pour maraîcher","ciboulette.net peut être essayé un mois")
    .slide: .wrapper
        h1 300€ / an
        .img: img(src!='./svg/tarif.min.svg').upScale
        p Ce tarif nous permet de payer les frais de fonctionnement, le système d'envoi de SMS de rappel, et de financer les différentes évolutions dont bénéficie le site.
            | La facturation est uniquement par année, pour simplifier la comptabilité de notre coté.
        p Après le mois d'essai gratuit, nous vous contacterons pour savoir si vous souhaitez continuer d'utiliser le produit.
        p Ce tarif fonctionne par année, la première année, si vous commencez par exemple en avril, janvier février et mars vous sont offerts. L'année suivante, vous paierez une année complète.
        p A tout moment vous pouvez fermer votre compte (écrivez à l'adresse renan.lecaro@gmail.com) et les mois restants seront remboursés. Par contre, une fois un compte fermé ainsi,
            | il ne peux pas être ré-ouvert (pour éviter les "poses hivernale")
        p Le paiement peut se faire par virement ou par paypal
        p En cas d'absence de paiement, nous vous enverrons un rappel, et une semaine plus tard, en l'absence de paiement, votre compte sera temporairement bloqué.

        p TVA non applicable - article 293 B du CGI



    .slide: .wrapper
        h2 Un simple outil, pas un intermédiaire
        .img: img(src!='./svg/just_a_tool.min.svg').upScale

        p Vous gérez vous-même la livraison des produits et la réception des paiements, et c'est très bien ainsi.


