h2 Analyse : Heure ou envoyer les emails 
.intro Une analyse rapide des logs me dit qu'il faudrait envoyer les mails à 11h ou 20h pour arriver en haut de liste
html
  body
    div(tabindex='-1')
      div(data-legacy-message-id='15337dc58ff9e664', data-message-id='15337dc58ff9e664')
        div(dir='ltr')
          | Hello les cybermaraichers
          br
          | Je bosse sur l&apos;envoi de rappels la, et du coup, j&apos;ai essay&eacute; de voir quand il serait id&eacute;al d&apos;envoyer un rappel. &Agrave; mon avis le mieux est de l&apos;envoyer juste avant le moment ou les gens ouvrent leurs mails, pour &ecirc;tre en haut de la liste.
          br
          | Apparemment, les gens ouvrent leurs mails le midi et le soir. On dirait que plus ils ont faim plus ils sont motiv&eacute;s &agrave; commander.&nbsp;
          img.fr-dib.fr-fil(src='/blog/imgs/60df1a235f04fdb6c573689d4ddd31919e1b11ac.jpg')
          | Du coup, je pense que le mieux serait d&apos;envoyer le rappel en fin de matin&eacute;e.
        div(dir='ltr')
          br
          | De la m&ecirc;me mani&egrave;re, quand vous envoyez vos mails d&apos;invitations &agrave; commander, je vous conseillerais de le faire en fin de matin&eacute;e pour arriver en haut de la liste quand les gens ouvrent leurs mails.
    div(tabindex='-1')
      div(data-legacy-message-id='15338922919b0745', data-message-id='15338922919b0745')
        a(href='https://support.google.com/mail?hl=en&p=email_auth', target='_blank')
          br
