h2 Stock, sms de rappel
.intro Yay, de nouvelles fonctions ! 
html
  body
    p Hello les cybermaraichers,
    p
      br
    h3
      strong
        u SMS de rappel
    p
      | Tous vos clients recevront un petit 
      strong rappel SMS
      |  2h avant leur RDV pour leur rappeler de venir chercher leur panier.
    p
      br
    p Ce sms n&apos;est envoy&eacute; que dans les conditions suivantes :
    ul
      li Ils ont command&eacute;.
      li Leur total est sup&eacute;rieur &agrave; 0&nbsp;
      li Ils ont indiqu&eacute; leur num&eacute;ro de tel et il est valide.
      li
        | Ils n&apos;ont pas demand&eacute; &agrave; d&eacute;sactiver le SMS (envoi d&apos;un sms avec &quot;STOP&quot; comme contenu)
    p Donnez-moi vos retours la dessus si possible :)
    h3
      strong
        u Page &quot;Stocks&quot;
    p
      strong
        u
          br
    p
      | Vous avez un nouvel onglet stocks, avec tout vos produits actifs &agrave; stock limit&eacute;s, vous pouvez corriger directement la quantit&eacute; &agrave; vendre.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/14b84ba5abe56f724b6793c3a6d67afc54526eff.jpg')
    p
      br
    h3
      br
      | Page &quot;Factures&quot;
    p
      | Sur grand &eacute;cran, vous avez deux factures &agrave; l&apos;&eacute;cran en m&ecirc;me temps. &Ccedil;a n&apos;a rien &agrave; voir avec le fait d&apos;en imprimer 2 par pages.
    p
      br
    p
      | Le titre de la facture contient maintenant la description du RDV. &Agrave; l&apos;impression, les factures devraient mieux s&apos;adapter au manque d&apos;espace sur la page. Et le probl&egrave;me des &eacute;ventuelles pages blanches qui &agrave; la fin devrait &ecirc;tre r&eacute;solu.
    p
      br
    p
      | J&apos;ai commenc&eacute; &agrave; bosser sur le support de Firefox, mais il y a beaucoup de petits d&eacute;tails &agrave; r&eacute;gler, donc ce n&apos;est pas pour tout de suite.
    p
      br
    p Bon week-end
    p
      br
