h1 Compatibilité firefox
.intro Je me suis rendu compte que tout le monde n'était pas sous google chrome ^^ 
html
  body
    p Hello les cybermaraichers !&nbsp;
    p
      br
    p
      | Je vais d&eacute;placer le portable qui envoie les sms de&nbsp;cyber, donc pour l&apos;instant un autre t&eacute;l&eacute;phone envoie les sms de rappel avec un num&eacute;ro diff&eacute;rent.
    p
      br
    p
      | Sinon, j&apos;ai d&eacute;ploy&eacute; la derni&egrave;re version de&nbsp;cyber, avec pas mal de petites corrections de bugs :
    ul
      li
        | Le bug d&apos;affichage sous chrome des&nbsp;
        strong &eacute;diteurs de texte
        |  devrait &ecirc;tre r&eacute;solu.
      li
        | Sous&nbsp;
        strong firefox
        | , le click sur les&nbsp;quantit&eacute;s
        strong  livr&eacute;es
        |  pour les modifier devrait fonctionner
      li
        | Sous&nbsp;
        strong firefox
        | , la modification de la ligne &quot;
        strong divers
        | &quot; devrait fonctionner.
      li
        | Quand un client corrige sa commande, le bouton pour valider sa correction affiche maintenant&nbsp;
        strong &quot;valider votre correction&quot;
        |  au lieu de &quot;corriger&quot; qui n&apos;&eacute;tait pas clair.
      li
        | Quand un&nbsp;
        strong produit d&eacute;sactiv&eacute;
        |  est&nbsp;
        strong modifi&eacute;
        | , il est r&eacute;activ&eacute; quand vous validez vos modifications. Un petit message en haut du formulaire le signale.
      li
        | Les modes de&nbsp;
        strong paiement&nbsp;
        | sont&nbsp;
        strong imprim&eacute;s qu&apos;une fois
        |  dans l&apos;onglet &quot;compta&quot;
      li
        | L&apos;onglet &quot;
        strong comptabilit&eacute;
        | &quot; global ne charge plus tout l&apos;historique d&egrave;s qu&apos;on l&apos;ouvre.
      li
        | Dans l&apos;onglet client, les clients sont maintenant tri&eacute;s par&nbsp;
        strong ordre alphab&eacute;tique sans s&eacute;paration des majuscules et minuscules
        | . (c&apos;&eacute;tait un probl&egrave;me parce que les noms de clients en minuscule se retrouvaient tout en bas de la liste.)
      li
        | Dans l&apos;onglet &quot;suivi des commandes&quot; le&nbsp;
        strong nombre de commandes pass&eacute;es
        |  pour chaque rdv est affich&eacute;.
    p
      | C&apos;est le d&eacute;but de la reprise du projet&nbsp;cyber, mes derni&egrave;res modifications avant &ccedil;a &eacute;taient il y a 4 mois. Il y a une faible chance que &ccedil;a entra&icirc;ne des bugs, je suis disponible par tel&nbsp;
      a(href='tel:06%2028%2035%2001%2014', target='_blank', value='+33628350114') (06 28 35 01 14
      | ) si c&apos;est le cas et je garde mon pc sous la main pour intervenir.
    p
      br
    p Bonne semaine
    p
      br
    p Renan
    p
      br
