h2 SMS plus fiable, https
.intro Nouveautés et quelques questions
html
  body
    p Hello les cybermaraichers !
    p
      br
    p Quelques nouvelles de cyberl&eacute;gume :
    p
      br
    p
      strong Fiabilit&eacute;&nbsp;
    ul
      li
        | J&apos;ai install&eacute; un syst&egrave;me qui v&eacute;rifie toutes les heures que les&nbsp;
        strong totaux de comptes
        |  de chaque client sont logiques, et qui les corrige si ce n&apos;est pas le cas.
      li
        | Quand mon syst&egrave;me bricol&eacute; d&apos;envoi de sms ne fonctionne pas, cyberl&eacute;gume utilisera automatiquement un&nbsp;
        strong syst&egrave;me pro de SMS en backup
        |  (mais payant, &ccedil;a me co&ucirc;te 10ct / sms ^^). D&apos;o&ugrave; la disparition du statut des serveurs sms dans la barre du haut, qui n&apos;a plus d&apos;importance. Si un client ne re&ccedil;oit pas de sms, alertez-moi imm&eacute;diatement svp ;)
      li
        | Le&nbsp;
        strong HTTPs&nbsp;
        | est bien en place, mais pas utilis&eacute; pour l&apos;instant. Je compte passer progressivement tout le site sur une connexion s&eacute;curis&eacute;e, qui fait un joli cadenas vert dans la barre d&apos;adresse, pour vous et pour vos clients.
    p
      strong Page de paiements
    ul
      li
        | Les 
        strong totaux&nbsp;
        | sont plus logiques, le montant de la facture est toujours affich&eacute; quel que soit le mode de paiement.
      li
        | La page devrait 
        strong s&apos;imprimer un peu mieux
        | , mais je ne force pas encore le mode paysage &agrave; l&apos;impression, qui rends mieux si vous avez beaucoup de modes de paiement activ&eacute;s.
      li
        strong L&apos;ent&ecirc;te des colonnes
        |  devrait rester en 
        strong haut de l&apos;&eacute;cran
        |  quand vous d&eacute;filez plusieurs pages de commandes &agrave; marquer comme pay&eacute;es.
    p
      strong Questions&nbsp;
    ul
      li
        | Est-ce que cela vous semblerait pertinent de&nbsp;
        strong proposer le paiement par carte bancaire &agrave; vos clients
        | , directement dans le formulaire ? Il y aurait une commission due au service de paiements, de l&apos;ordre de 2.9% + 0.30&euro;, c&apos;est pas donn&eacute;e, et la commission est m&ecirc;me pas pour moi, elle est pour stripe ^^.
      li
        | Quelles&nbsp;
        strong statistiques
        |  souhaiteriez-vous avoir si je faisais une page d&eacute;di&eacute;e &agrave; cela ?
      li
        | Est ce que le&nbsp;
        strong total&nbsp;
        | (en &euro;) de la commande vous est utile dans la&nbsp;
        strong feuille de pr&eacute;paration
        |  des paniers ? J&apos;ai l&apos;impression d&apos;avoir d&eacute;j&agrave; pos&eacute; la question ^^
        img.fr-dib.fr-fil(src='/blog/imgs/9ef183ce1320be9f49564aeca43df9d0959a95df.jpg')
        br
    p
      strong &Agrave; venir
    ul
      li
        strong D&eacute;sactiver les tabs
        |  dans les fen&ecirc;tres sur grand &eacute;cran pour les mara&icirc;chers ayant d&eacute;j&agrave; l&apos;exp&eacute;rience du syst&egrave;me
      li
        strong Page d&apos;erreur
        |  plus humaine quand le syst&egrave;me se plante
      li
        strong Historique&nbsp;
        | complet des activit&eacute;s&nbsp;
        strong de chaque client
        |  disponible pour le mara&icirc;cher (En mode NSA :p ) pour r&eacute;soudre plus facilement les probl&egrave;mes de clients qui ne re&ccedil;oivent pas le mail ou les sms.
    p Bon Week-end&nbsp;
    p
      br
