h2 Tableau de bord
.intro Une moyen simple de suivre vos différentes commandes
html
  body
    p Hello les cybermaraichers !
    p
      br
    p Le dashboard est finalement arriv&eacute; sur CyberL&eacute;gume !
    blockquote
      img.fr-dib.fr-fil(src='/blog/imgs/8de0dfc671dbe5b8ee9c571686c77b61322efb3c.jpg')
    p
      br
    p Il est organis&eacute; en trois colonnes :
    ul
      li
        | Semaine en cours vous averti s&apos;il y a quelque chose &agrave; faire pour les ventes en cours
        ul
          li R&eacute;ponses rapides aux commentaires clients
          li Produits ou 75 % du stock est vendu
          li Pr&eacute;parations en cours
          li Factures non marqu&eacute;es comme pay&eacute;es
          li Factures inaccessibles aux clients
      li
        | Semaine prochaine
        ul
          li Commencer &agrave; pr&eacute;parer
          li Ajouter un client &agrave; la semaine prochaine
      li
        | Clients
        ul
          li Enregistrez rapidement un virement.
          li Liste des clients dans le n&eacute;gatif
          li Liste des clients r&eacute;cemment d&eacute;sinscrits
    p Cette mise &agrave; jour s&apos;accompagne de quelques correctifs.
    ul
      li
        | Commandes vides mieux g&eacute;r&eacute;es (pas d&apos;e-mail de confirmation, notification qui dit &quot;commande vide&quot;)
      li
        p
          | Un avertissement appara&icirc;t si un client regarde sa commande alors que sa facture est disponible.
      li
        p Nouveau tableau client
      li
        p All&egrave;gement du poids de l&apos;application
    p
      br
