h1 Page de commentaires
.intro Nouvelle fonction : liste de tout les commentaires de la semaine
html
  body
    p Bonjour les Cybermaraichers
    p
      br
    p
      | Vous avez une nouvelle page dans le menu qui vous permet de voir tous les commentaires en rapport avec la semaine en cours.
    p
      br
    p
      img.fr-dib.fr-fil(src='/blog/imgs/9b54c5067703d22afebb736dbe2583222da486e8.jpg', style='/* width: 300px;')
    p
      br
    p
      | Le syst&egrave;me ne vous enverra par contre plus de sms pour vous signaler qu&apos;un client a comment&eacute;.
    p
      br
    p Bonne semaine
    p
      br
