h1 Retours sur le plantage de cyber 
.intro Et petits détails
html
  body
    p Hello les cybermaraichers !
    p
      | Tout d&apos;abord d&eacute;sol&eacute; pour le plantage qui a eu lieu ce 9 f&eacute;vrier de 1h du matin &agrave; 2h30. Le serveur ne voulait plus red&eacute;marrer, donc le site &eacute;tait off. Peut-&ecirc;tre que quelques clients nocturnes se sont retrouv&eacute;s devant une page d&apos;erreur.
    p
      | Ca m&apos;a forc&eacute; &agrave; mettre en ligne la derni&egrave;re version de cyber, avec pas mal de changements. Il y aura peut-&ecirc;tre des bugs, n&apos;h&eacute;sitez pas &agrave; me signaler si vous voyez qqch de bizarre.
    p
      | - Un warning appara&icirc;t a votre client quand il commenc&eacute; une commande, mais ne valide pas son panier et sors la souris de l&apos;&eacute;cran.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/8521e6f93ca29b6cb4e558f93977629b3926a499.jpg')
    p
      br
    p
      br
    p
      | - Vous pouvez indiquer les modes de paiement que vous utilisez dans la page de param&egrave;tres, pour ne pas proposer des checkbox inutiles.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/98916c4294995d4be90d8dc3a8187b21c5ffb8ee.jpg')
      br
    p
      br
    p
      | - Nouvelle admin des clients. C&apos;est juste une grande liste que vous pouvez trier dans l&apos;ordre que vous voulez. Je compte ajouter des fonctions de filtres prochainement (pour virer les gens qui n&apos;ont jamais command&eacute; de la liste par exemple) N&apos;h&eacute;sitez pas &agrave; me dire si certaines colonnes manquent, ou si d&apos;autres qui sont pr&eacute;sentes ne servent &agrave; rien.
      img.fr-dib.fr-fil(src='/blog/imgs/eddbe1195b4ed82263a7be70c3d6e2fe59d876a0.jpg')
      br
    p
      br
    p
      | -nouvelle page pour la fin de semaine, pour l&apos;instant assez basique. L&apos;id&eacute;e est de vous permettre de rentrer rapidement les modes de paiement de chaque client.
    p
      | Pour l&apos;instant, je ne calcule pas les totaux et l&apos;impression n&apos;est pas top, mais je bosse sur &ccedil;a maintenant. Ca devrait toujours vous &eacute;conomiser des clics :)
    p
      img.fr-dib.fr-fil(src='/blog/imgs/431485da5571f88eabd913d09273d3c671952dd9.jpg')
    p
      br
    p
      br
    p Autres am&eacute;liorations mineures :
    p
      br
      | - Les clients ne sont plus partag&eacute;s entre mara&icirc;cher.
    p
      br
      | - Un petit &eacute;cran de chargement avec des l&eacute;gumes qui tombe du ciel
    p - Les sms devraient &ecirc;tre un peu plus fiables. &nbsp;
    p - Plus de bug de capitales sur le nom des points de rdv avec des accents&nbsp;
    p
      | - Je suis en train de mettre en place le https, ce n&apos;est pas encore au point, mais vous pouvez tester (juste changer le http en https dans la barre d&apos;adresse quand vous &ecirc;tes sur le site)
    p - la v&eacute;rification des e-mails devrait &ecirc;tre plus fiable
    p - l&apos;ic&ocirc;ne du site dans la barre d&apos;onglet &agrave; chang&eacute;&nbsp;^^
    p
      | - vous devriez recevoir un sms quand les sms de rappel vont &ecirc;tre envoy&eacute;s aux clients.
    p
      br
    p
      | Bref, suite &agrave; cette MAJ en urgence, beaucoup de nouveaux d&apos;un coup. J&apos;ai fait pas mal de tests (maintenant, c&apos;est automatis&eacute;, il y a un robot qui clique sur les boutons et v&eacute;rifie que tout roule) mais il peut encore y avoir des bugs planqu&eacute;s.
    p
      br
    p Je me remets au boulot :)
    p
      br
    p Bonne semaine&nbsp;
    p
      br
