h2 Nouveau formulaire client
.intro Pleins de nouveautés cette semaine
html
  body
    p Hello les Cybermaraichers&nbsp;
    p
      | J&apos;ai mis en ligne une nouvelle version de cyberl&eacute;gume hier soir. Il y a 
      strong plein de nouveaut&eacute;s
      | , et un risque que &ccedil;a ai introduit des 
      strong nouveaux bugs :)
      | . N&apos;h&eacute;sitez pas &agrave; me contacter s&apos;il y a un quelconque probl&egrave;me.
    p Ci-dessous, la liste des nouveaut&eacute;s illustr&eacute;e&nbsp;
    h3 Nouveau look du formulaire
    p
      | Plus harmonieux avec les commentaires masqu&eacute;s par d&eacute;faut sur les grands &eacute;crans (ils s&apos;affichent quand on passe la souris.) et affich&eacute;s compl&egrave;tement sur mobile.
    p
      img.fr-dib(src='/blog/imgs/f05448d2ae16d9efd153064098a3555a1d749aea.jpg')
    p Les clients ont une &quot;barre de progression&quot;
    p Qui leur permet de passer d&apos;une &eacute;tape &agrave; l&apos;autre de la semaine.
    p Sur pc :
    p
      img.fr-dib(src='/blog/imgs/7bc10afaf97f58c47f3d88ca032a4d62d376c66d.jpg')
      br
    p
      br
    p Sur mobile :
    p
      img.fr-dib(src='/blog/imgs/e0ac3a7f9c396996db62f81e18d28d8a204c9ce0.jpg')
    p
      br
    p Si un client ouvre une ancienne commande&nbsp;
    p Il est averti et peut se rendre &agrave; la commande de la semaine
    p
      img.fr-dib(src='/blog/imgs/54376249a0de397bd2991caf8a9d468a95ff9064.jpg')
    p
      br
    h3 Les clients ont acc&egrave;s &agrave; l&apos;historique de leurs commandes.
    p
      | &Ccedil;a leur &eacute;vite de devoir fouiller leurs emails. Les virements apparaissent (sans le libell&eacute;) dans l&apos;historique.
    p
      img.fr-dib(src='/blog/imgs/ddcf12da1ff27f489394105ade05b96a8cf2dab1.jpg')
    p
      br
    h3 Vous pouvez valider les factures.
    p Elles seront alors accessibles aux clients.
    p
      img.fr-dib(src='/blog/imgs/2d89041db2bf6ec1574958a429826d2e518a6ba8.jpg')
    p
      br
    p
      img.fr-dib(src='/blog/imgs/5e8ceb7f28f64ec23a3620bd51072f8ce9177333.jpg')
    h3 Tableau de bord&nbsp;
    p L&apos;accueil et la pr&eacute;sentation du logiciel sont sur un site s&eacute;par&eacute;.
    p En r&egrave;gle g&eacute;n&eacute;rale, le chargement du site devrait &ecirc;tre&nbsp;plus rapide.
    p
      | Le tableau de bord devrait devenir plus int&eacute;ressant dans les prochaines versions.
    p
      img.fr-dib(src='/blog/imgs/d461850ccaf0b695f2beec68090f10c05e7b317b.jpg')
    h3 Petit d&eacute;tail pour aider &agrave; la pr&eacute;paration
    p
      | Si un produit est &agrave; la pi&egrave;ce, et command&eacute; plus d&apos;une fois, c&apos;est indiqu&eacute; dans la facture avant le nom. Ca se fait pour tous les produits qui ne sont pas vendus au kg.
    p
      img.fr-dib(src='/blog/imgs/3aeefdfeab1e9970f7300e90d7a84f01c3b9939d.jpg')
    p
      br
    h3 Notification des clients
    p
      | Le syst&egrave;me indique au client le statut de l&apos;envoi de son e-mail de confirmation/de son sms en cas de commentaire sur la commande.
    p
      img.fr-dib(src='/blog/imgs/9e1ebd91567d79d6ff681db0c3b3072ec37bb14f.jpg')
    p
      br
    p
      br
    h3 D&eacute;tection des absences de changement
    p
      | Le syst&egrave;me &eacute;vite la fermeture de la fen&ecirc;tre et envoi un mail uniquement quand quelque chose a chang&eacute;.
    p
      img.fr-dib(src='/blog/imgs/0ff4091cd14014cf56e5a4f9ec48c4c64d3ce1c7.jpg')
      br
    p
      br
    h3 Tickets de caisse plus propres
    p
      | Le nom de produit est coup&eacute; s&apos;il est trop long, mais personnalisable&nbsp;dans la fen&ecirc;tre&nbsp;d&rsquo;&eacute;dition&nbsp;d&apos;un produit.
    p Le solde est affich&eacute;.&nbsp;
    p
      img.fr-dib(src='/blog/imgs/d638c2217933c42233f2acb5b99f47b5b66df853.jpg')
    p
      br
    h3 Tableau de r&eacute;glage des clients
    p Les clients peuvent modifier tous leurs r&eacute;glages sur une page unique.
    p
      img.fr-dib(src='/blog/imgs/ebfcab34bf665e066a522ebdb87e66093afa7993.jpg')
    p
      br
    p
      br
    h3 D&eacute;tails des clients dans votre interface
    p Vous pouvez modifier les m&ecirc;mes infos (y compris r&eacute;inscrire un client aux emails)
    p
      img.fr-dib(src='/blog/imgs/5795b1c11d3475e3f7bfc4a6e1e246e55c35b3dc.jpg')
    p
      br
    p
      br
    h3 &Eacute;dition des paniers
    p Le prix et la valeur du panier sont mis &agrave; jour dans le titre de la&nbsp;fen&ecirc;tre
    p
      img.fr-dib(src='/blog/imgs/bc572da7a976f8ecc9992b730cec0c6e8eec759e.jpg')
    p
      br
    p
      br
    h3 Des mails diff&eacute;rents en fonction de qui a fait l&apos;action.
    p
      | Jusque la, le mail de confirmation envoy&eacute; au client disait toujours &quot;vous avez bien modifi&eacute; votre commande&quot; m&ecirc;me&nbsp;si c&apos;&eacute;tait en fait le mara&icirc;cher&nbsp;qui l&apos;avait fait.
    p
      img.fr-dib(src='/blog/imgs/6682e21cc456a66760874c55a60d5a6fa37c665f.jpg')
    p
      br
