h1 Modifier les mouvements
.intro Modifier les compte clients, qte mini d'un produit
html
  body
    p Hello les cybermaraichers&nbsp;
    p Je me suis enfin remis &agrave; coder :) Au programme :&nbsp;
    ul
      li Possibilit&eacute; de modifier les mouvements des comptes clients
      li
        | Mode ticket de caisse pour l&apos;impression des factures (Ibtissem si tu as des retours la dessus &ccedil;a m&apos;aiderais)
      li La TVA des divers n&apos;est jamais imprim&eacute;e (c&apos;&eacute;tait d&eacute;j&agrave; le cas &ccedil;a en fait.)
      li Les noms de clients qui ont des tirets sont mieux capitalis&eacute;s.
      li On peut d&eacute;finir un prix mini de commande d&apos;un produit&nbsp;(par d&eacute;faut 50ct)
      li
        | Il y avait un bug qui rendait le site inaccessible si on n&apos;&eacute;tait pas connect&eacute;, normalement, c&apos;est r&eacute;gl&eacute;.
      li La d&eacute;connexion est mieux g&eacute;r&eacute;e.
    p Bonne semaine
