h1 Lancement du blog Cyberlégume
.intro Toutes les news et évolutions de cyber au même endroit
html
  body
    p
      img.fr-dib.fr-fil(src='/blog/imgs/9ce32c5387559fb900ab2892d6d2ec7c98c07ec8.jpg')
    p
      | Objectif de ce blog : tracer un historique du projet Cyberl&eacute;gume. Je vais commencer par reporter les &eacute;volutions pass&eacute;es, d&apos;o&ugrave; la liste assez fournie d&apos;articles d&egrave;s le d&eacute;part
