h2 Prévisualisation du SMS de rappel
.intro Vous pouvez maintenant voir ce que votre message va donner et si la syntaxe est correcte.
html
  body
    p
      | Pour simplifier l&apos;&eacute;dition du sms de rappel, une petite pr&eacute;visualisation vous est propos&eacute;e.
    p
      | Fonction sugg&eacute;r&eacute;e par Les jardins de Petite Lande, merci pour toutes ces bonnes id&eacute;es David !
    p
      img.fr-dib.fr-fil(src='/blog/imgs/3c22bc1e9e2b48cdc5858eea66b81796aee2bb30.jpg')
