h2 Imprimer les tickets de caisse sous firefox
.intro L'impression des tickets de caisse se passe relativement bien sous chrome, mais semble bugger un peu sous firefox.
html
  body
    p
      | Si vous n&apos;avez pas le choix du navigateur (ou que vous n&apos;aimez pas big browser), vous pouvez tenter les r&eacute;glages suivants :
    ul
      li Conserver le dimensionnement original
      li Ne rien afficher dans les en-t&ecirc;tes et pied de page
      li Utiliser une disposition manuelle moins tass&eacute;e que la disposition automatique
    p Ce n&apos;est pas id&eacute;ale, mais &ccedil;a devrait aider ceux d&apos;entre vous sous Firefox :)
    p
      img.fr-dib.fr-fil(src='/blog/imgs/4524e89216679054eaf2b1ed14976970c5d764eb.jpg')
    p
      img.fr-dib.fr-fil(src='/blog/imgs/134586b0983bec24bb24b3eb831ce9fcec4d89bc.jpg')
