h2 Lancement du blog Cyberlégume
.intro Toutes les news et évolutions de cyber au même endroit
html
  body
    p
      img.fr-dib.fr-fil(src='/blog/imgs/9ce32c5387559fb900ab2892d6d2ec7c98c07ec8.jpg')
    p
      | Objectif de ce blog : tracer un historique du projet Cyberl&eacute;gume.&nbsp;Je vais commencer par reporter les &eacute;volutions faites r&eacute;cemment
