h1 Nouveau site web cyberlégume
.intro Un nouveau site web tout neuf pour présenter cyberlégume
html
  body
    p
      img.fr-dib.fr-fil(src='/blog/imgs/6232a0a9f9f47b240fd204c727c845975ca67e3f.jpg')
    p
      | L&apos;ancien site web faisait un peu vieillot, donc j&apos;ai lanc&eacute; une nouvelle version plus moderne
    p
      | On reste sur du tr&egrave;s simple, cod&eacute; &agrave; la main pour plus de rapidit&eacute;, et optimis&eacute; pour un chargement rapide.
    p Pour r&eacute;f&eacute;rence, l&apos;ancien site ressemblait &agrave; &ccedil;a :
    p
      img.fr-dib.fr-fil(src='/blog/imgs/ee460b444a82df34a8bb6607214de436537b1d6c.jpg')
