h2 Gestion des erreurs, éditeur visuel, stocks limités dans le tableau de bord
.intro Je serais maintenant alertés quand le logiciel plante
html
  body
    p Bonjour les cybermara&icirc;chers,
    p
      | J&apos;ai mis en place un syst&egrave;me qui devrait m&apos;alerter et me donner les d&eacute;tails n&eacute;cessaires en cas de plantons.
    p
      | Je fais beaucoup d&apos;&eacute;volutions en ce moment et certains bugs passent &agrave; travers les filets de mes tests automatis&eacute;s. J&apos;ai mis en place 
      a(href='https://rollbar.com/', rel='noopener noreferrer', target='_blank') rollbar&nbsp;
      | pour &ecirc;tre alert&eacute; par mail en cas d&apos;erreur dans Cyberl&eacute;gume.
    p
      | Sur une suggestion de 
      a(href='http://lejardindedavid.blogspot.de/') David
      | , le tableau de bord affiche maintenant les stocks limit&eacute;s pour la semaine en cours, mais aussi la suivante, dans le cas ou les clients commencent &agrave; commander le dimanche par exemple.
    p
      | J&apos;ai finalement r&eacute;install&eacute; un &eacute;diteur visuel pour modifier vos textes, je suis parti sur 
      a(href='https://github.com/quilljs/quill') quilljs
      |  cette fois, il a l&apos;air plut&ocirc;t fiable et performant.
    p Voici un exemple d&apos;usage pour modifier l&apos;ent&ecirc;te de vendeur.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/f213692f44155b0b0058ed989bc3fcbd76569698.jpg')
    p
      br
    p
      | Cet &eacute;diteur va me permettre de simplifier la fonction de cr&eacute;ation de site, sur laquelle je vais travailler maintenant.
    p Bonne semaine et &agrave; tr&egrave;s bient&ocirc;t
    p Renan&nbsp;
