h1 Quantité min et max par personne
.intro Quelques nouveautés dans Cyberlégume
html
  body
    p Bonsoir les Cyber-maraichers
    p J&apos;ai d&eacute;ploy&eacute; ce soir les changements suivants :
    ul
      li
        | Vous pouvez maintenant indiquer une
        strong &nbsp;quantit&eacute; max par personne pour les produits d&apos;appel
        |  !
      li
        | Une nouvelle&nbsp;
        strong vue &quot;table&quot; pour la liste des produits
        | , utile surtout pour lire, alors que la vue &quot;liste de petites cartes&quot; est faite pour cr&eacute;er / manipuler / r&eacute;ordonner vos produits.
      li
        | Les paniers sont maintenant masqu&eacute;s dans le r&eacute;capitulatif de cueillette (difficile d&apos;aller cueillir 10 paniers au champ, c&apos;est plus simple de cueillir les l&eacute;gumes individuellement)
      li
        | Dans le sms de rappel de livraison, le formatage n&apos;&eacute;tait pas top et le t&eacute;l&eacute;phone trouvais un lien sorti de nul part, c&apos;est r&eacute;gl&eacute;.
      li
        | Il y avait des confusions entre nom et pr&eacute;nom pour les clients, j&apos;ai fait le tour et tout r&eacute;gl&eacute;.
