h2 Projet : sites web de maraichers
.intro Une suggestion d'un nouveau client potentiel
html
  body
    h3 Cyber-site : votre site web de mara&icirc;cher int&eacute;gr&eacute; &agrave; cyber
    p
      | L&apos;id&eacute;e est de proposer un syst&egrave;me de cr&eacute;ation de site tout simple, int&eacute;gr&eacute; &agrave; Cyberl&eacute;gume.
    p
      | Il ne s&apos;agit pas de recr&eacute;er wordpress, mais juste de proposer un h&eacute;bergement pour quelques pages simple, et de bien l&apos;int&eacute;grer &agrave; cyber, &agrave; savoir : blog avec les messages que vous avez d&eacute;j&agrave; &eacute;crit dans les mailings, listing des produits en vente actuellement avec ou sans le prix, page de contact, et pour ceux qui veulent, l&apos;option de s&apos;inscrire comme client et de commander directement en ligne depuis le site web, listing des recettes ..
    p
      | Ce sont beaucoup de nouvelles fonctions, &ccedil;a va me prendre un moment, mais &ccedil;a devrait permettre &agrave; plusieurs d&apos;entre vous d&apos;&eacute;conomiser sur l&apos;h&eacute;bergement de leur site web (la personne &agrave; l&apos;origine de la requ&ecirc;te paye actuellement 20&euro; / mois pour un petit site web tout simple, &ccedil;a me semble un peu cher.).
    p Je pense rendre cette fonction optionnelle, et la facturer 5&euro; / mois.
    h3 R&eacute;sultat du sondage sur Pr&eacute;nom NOM vs NOM Pr&eacute;nom
    p
      | Je vous ai demand&eacute; si vous souhaitiez passer du mode d&apos;affichage &quot;Pr&eacute;nom NOM&quot; pour les clients &agrave; &quot;NOM Pr&eacute;nom&quot;, les avis sont partag&eacute;s, donc je vais faire une option pour &ccedil;a.
    h3 Petite &eacute;volution : tri alphab&eacute;tique des produits
    p La liste de produits d&eacute;taill&eacute;e est maintenant affich&eacute;e par ordre alphab&eacute;tique.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/4e17a774d8ba4891048d18be9deb99a3733ea691.jpg')
    p
      br
    p
      br
    p
      br
    p
      br
