h1 Date de règlement, pied de page général
.intro Sur demande des jardins de la Petite Lande
html
  body
    p
      | Dans l&apos;historique des commandes, paiements et transferts de chaque client, les dates affich&eacute;es sont maintenant plus logiques, et &eacute;ditables.
    ul
      li La date pour une commande est la date de livraison (jour de rendez vous)
      li
        | La date pour le paiement est la date ou vous avez chang&eacute; pour la premi&egrave;re fois le mode de paiement
      li
        | Vous pouvez modifier la date de n&apos;importe quelle op&eacute;ration. &Ccedil;a n&apos;aura d&apos;effet que sur cette liste.
    p
      | Votre texte de pied de page des factures est maintenant affich&eacute; en bas de toutes les pages visibles par le client (email, formulaire, facture). C&apos;est l&apos;endroit id&eacute;al pour afficher les logos de vos labels, mettre un lien vers la preuve de votre labellisation, un SIRET, etc ..
    p
      | Le bouton &quot;ajouter un commentaire&quot; en bas de la confirmation de commande a &eacute;t&eacute; renomm&eacute; en &quot;valider le commentaire&quot;, c&apos;est plus logique ainsi.
    p Quelques petits bugs graphiques ont &eacute;t&eacute; corrig&eacute;s&nbsp;
    p
      br
    p
      br
