h2 Pause du projet site web, minimum de commande par RDV
.intro Le projet de création de site web est un poil embitieux, je vais travailler dessus dans la période creuse des ventes. Pour l'instant, je  me concentre sur les fonctions nécessaires pour les nouveaux clients de l'année
html
  body
    p
      | Le projet &quot;site web&quot; (cr&eacute;ation de site web pour mara&icirc;chers, int&eacute;gr&eacute; &agrave; cyberl&eacute;gume) m&apos;a pris pas mal de temps, mais s&apos;av&egrave;re plut&ocirc;t complexe. Je compte le s&eacute;parer en un autre produit. En attendant, pour l&apos;instant, je vais simplement continuer d&apos;am&eacute;liorer cyber. En particulier, plusieurs mara&icirc;chers m&apos;ont fait part de diff&eacute;rents points &agrave; am&eacute;liorer ou corriger.
    h2 Nouvelle fonction : minimum de commande par rendez-vous
    p
      | Cette nouvelle fonction vous permet de limiter les allers-retours pour une toute petite livraison. Si vous avez un rendez-vous distant avec peu de clients qui commandent de mani&egrave;re al&eacute;atoire, vous pouvez y fixer un minimum de commande de 10&euro; par exemple, pour avoir au moins une vente de 10&euro; et pas juste un client ayant command&eacute; deux radis.
    p
      | Vous pouvez d&eacute;finir le minimum de commande du rendez-vous (0 &euro; par d&eacute;faut) dans le troisi&egrave;me onglet.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/829d2d72b59ad81b9c11a35ac848c5a3fca8fe76.jpg')
    p
      br
    p
      | Cot&eacute; client, il sera toujours possible de passer une commande vide (pour indiquer clairement qu&apos;on n&apos;est pas int&eacute;ress&eacute; cette semaine) mais ensuite une commande inf&eacute;rieure au minimum ne sera plus possible.&nbsp;
      img.fr-dib.fr-fil(src='/blog/imgs/03027decdd25a4f9b185053af22ed2ef28838be6.jpg')
    p Le mara&icirc;cher garde la main et peut commander en dessous du minimum si besoin.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/c755a3e4279e42f03923c2c5ec6dc9ef1882b1d5.jpg')
    p
      | Cette fonction &eacute;tait demand&eacute;e par Emmanuel de La Ferme Saint-Ursin, j&apos;esp&egrave;re qu&apos;elle sera aussi utile &agrave; d&apos;autres !
    h2 Autres am&eacute;liorations r&eacute;centes
    p
      | Il y avait un petit probl&egrave;me de 
      strong capitalisation des noms de clients
      | , qui est r&eacute;gl&eacute;.
    p
      | Il y avait un bug dans l&apos;
      strong &eacute;diteur de rendez-vous qui remettais &agrave; z&eacute;ro certaines infos
      |  quand on changeait d&apos;onglet, ce qui rendait l&rsquo;&eacute;dition un peu al&eacute;atoire, c&apos;est r&eacute;gl&eacute;.
    p Bonne semaine &agrave; vous
    p Renan
    p
      br
      br
    p
      br
    p
      br
