h2 Le créateur de site web avance
.intro Pas de nouvelle fonctions pour l'instant, mais on progresse
html
  body
    p
      | La semaine derni&egrave;re, j&apos;ai boss&eacute; sur la s&eacute;lection d&apos;un &eacute;diteur de texte, Quill s&apos;av&egrave;re assez sympa. Je serais bien parti sur Froala, mais la licence pour un service comme Cyberl&eacute;gume est de 
      a(href='https://www.froala.com/wysiwyg-editor/pricing') 900$ / ans
      | , et ce prix aurait du &ecirc;tre r&eacute;percut&eacute; sur le tarif des abonnements. 
      a(href='https://quilljs.com/') QuillJS
      |  est open source, m&apos;a demand&eacute; un peu plus de travail, mais au moins je peux garder un tarif raisonnable :)
    p Pour l&apos;&eacute;diteur de site web, voici un petit aper&ccedil;u d&rsquo;o&ugrave; j&apos;en suis
    p
      img.fr-dib.fr-fil(src='/blog/imgs/71c5224cb959442d27d7e08d0e3b8dfcc0f9e4f1.jpg')
    p
      | C&apos;est encore assez basique pour l&apos;instant, mais j&apos;essaie de le garder le plus simple et direct possible. Pour changer un titre, il suffit de cliquer dessus, pour naviguer d&apos;une page &agrave; l&apos;autre on utilise le menu qui sera sur le site final, etc ..
    p
      | Une des questions un peu sp&eacute;ciale est la gestion du look des pages. Je suis parti sur quelque chose d&rsquo;extr&ecirc;mement simple et minimaliste, mais qui peut faire un peu tristoune pour un site de mara&icirc;cher. J&apos;h&eacute;site entre laisser aux plus aguerris d&apos;entre vous la possibilit&eacute; de bidouiller le css (code source), ou vous proposer quelques options simples d&apos;acc&egrave;s, mais un peu limit&eacute;es.
    p
      | La premi&egrave;re solution est plus simple, mais si je fais des changements dans le futur &ccedil;a risque de casse votre design, la seconde solution est probablement meilleur, mais va me demander beaucoup de temps.
    p
      | Dans un premier temps, il n&apos;y aura que la premi&egrave;re option, et je travaillerais sur la seconde quand les chantiers plus urgents seront r&eacute;gl&eacute;s.
    p
      | Une des choses qui a ralenti le d&eacute;veloppement du site ces derniers jours est que mon pc a rendu l&apos;&acirc;me jeudi dernier, j&apos;ai pu en trouver un de remplacement rapidement mais il a fallu tout remettre en place.
    p
      | J&apos;ai par ailleurs une excellente nouvelle : la semaine pr&eacute;c&eacute;dente, Emmanuel de 
      a(href='http://ferme-st-ursin.fr/') http://ferme-st-ursin.fr/
      |  m&apos;a dit &ecirc;tre dispos&eacute; &agrave; me l&eacute;guer le nom de domaine maraicher.bio qu&apos;il n&apos;utilise pour l&apos;instant pas.
    p
      | Avec un nom de domaine aussi descriptif, je peux envisager de proposer aux mara&icirc;chers une adresse du type 
      strong ferme-bidule.maraicher.bio
      |  sans que &ccedil;a ne me co&ucirc;te rien, et donc proposer un service de site web vraiment pas cher aux mara&icirc;chers (pourquoi pas gratuit ?). Bref, maraicher.bio deviendra prochainement le nouveau nom de cyberl&eacute;gume :)
    p
      | Sur ce, je me remets au code, cette fonction de blog ne va pas se coder toute seule ;)
    p Bonne semaine
