h1 Update geek : Les aventures des miniatures produit et du pricing google image
.intro Une petite mise a jour sur l'amélioration du système d'images de Cyberlégume pour réduire les coûts de fonctionnement
html
  body
    p
      | Pour simplifier la vie des mara&icirc;chers, cyberl&eacute;gume fait automatiquement une recherche google image quand vous tapez le nom d&apos;un produit, et vous propose des images a utiliser comme photo de produit.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/8cae49f79ac3f85551a8f59bb3d1288810547314.jpg')
    p
      | Ces derniers mois, j&apos;ai constat&eacute; que mes co&ucirc;ts de google image avaient explos&eacute;, on &eacute;tait &agrave; environ 40&euro; par mois !
    p
      | Le probl&egrave;me &eacute;tait en fait que google image facture la recherche, mais aussi l&apos;affichage des miniatures. Ces miniatures &eacute;tant directement utilis&eacute;es dans le bon de commande, chaque affichage du bon de commande produisait ~30 requ&ecirc;tes (une par photo de produit). J&apos;arrivais &agrave; des milliers de requ&ecirc;tes par mois, et donc un tarif &eacute;lev&eacute;.
    p
      | La solution que j&apos;ai choisie est de t&eacute;l&eacute;charger l&apos;image produit juste une fois, et la r&eacute;-uploader sur imgur (chose que je fais d&eacute;j&agrave; pour les images que vous envoyez vous-m&ecirc;me).
    p
      | Le r&eacute;sultat ? Je crois &nbsp;que &ccedil;a marche plut&ocirc;t bien &agrave; en juger par le graph ci-dessous. Les co&ucirc;ts sont tomb&eacute;s &agrave; z&eacute;ro, et devraient seulement augmenter &agrave; nouveau quand vous ajoutez de nouveaux produits.
    p
      | C&apos;est avec ce genre de petite bidouilles que je peux vous proposer un service aussi peu cher.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/d973985cc47d4a109a199657d62e43615fcecf53.jpg')
