h2 Update geek : l'envoi de SMS professionnel est hors de prix.
.intro Ou comment je bricole un solution pour éviter de vous facturer 10ct  chaque SMS de rappel
html
  body
    p Envoyer un SMS avec un service professionnel co&ucirc;te 6 centimes d&apos;euro.&nbsp;
    p
      img.fr-dib.fr-fil(src='/blog/imgs/9122486009c40aa7010e18a27598b54a40a742d1.jpg')
    p
      | Cyberl&eacute;gume envoie 1 SMS de rappel par commande, donc si vous avez 25 commandes par semaine, on parle de 100 sms par moi, soit 6&euro;
    p
      | Pour rester peu cher, Cyberl&eacute;gume n&apos;utilise ce syst&egrave;me qu&apos;en dernier recours, quand ma bidouille tombe en panne. C&apos;est pour &ccedil;a que le num&eacute;ro qui envoie les sms change parfois.
    p Une bidouille, quelle bidouille, me direz vous ?&nbsp;
    p
      | J&apos;ai un vieux t&eacute;l&eacute;phone Android &eacute;quip&eacute; d&apos;une SIM free a 2&euro;/mois et sms illimit&eacute;, qui se charge d&apos;envoyer les sms de tout les mara&icirc;chers. Ce qui fait que quand tout va bien, l&apos;ensemble des SMSs de cyber me co&ucirc;te 2&euro;/mois, au lieu de 6&euro;/mois/mara&icirc;cher. En prenant en compte les charges, &ccedil;a me permet de vous &eacute;conomiser 10&euro; par mois a chacun.
    p
      span.fr-img-caption.fr-dib.fr-fil(style='width: 1287px;')
        span.fr-img-wrap
          img(src='/blog/imgs/0337adfd371aa22bbd2966e933ecde47e7a19930.jpg')
          span.fr-inner Le portable qui envoie actuellement la majorit&eacute; des SMS de cyberl&eacute;gume
    p
      br
    p
      br
