h1 Conditions générales d'utilisation
.intro Il était temps de les mettre en place
html
  body
    p
      | Cyberl&eacute;gume n&apos;est pas tr&egrave;s gourmand en termes de donn&eacute;es personelles, mais bon il me faut des CGU pour l&apos;am&eacute;lioration sur laquelle je travaille (envoi de mail avec gmail).
    p
      | Donc vous pouvez aller faire un tour sur la 
      a(href='/cgu.html') page
      | , &agrave; la chasse aux fautes d&apos;orthographe. En particulier, la section sur les donn&eacute;es personnelles peut &ecirc;tre int&eacute;ressante pour vous.
    p
      | Ah, et sur demande de David des jardins de Petite Lande, j&apos;ai r&eacute;gl&eacute; un petit bug dans la mise en page automatique des tickets de caisse, et ajout&eacute; quelques options manuelles pour mettre plus de tickets sur une seule page.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/8bc62bcd42f254c8c1ca8e0f0e80a44e5244f740.jpg')
    p
      br
