h1 Réparation de l'upload d'images
.intro L'ajout d'images personnelles pour les produits et dans les textes devrait fonctionner de nouveau
html
  body
    p
      | Depuis un moment, l&apos;envoi d&apos;images personnelles (photos de vos propres produits/exploitation) n&apos;&eacute;tait plus fonctionnel, &agrave; cause d&apos;un probl&egrave;me de connexion au service d&apos;h&eacute;bergement d&apos;images. &Ccedil;a devrait &ecirc;tre r&eacute;par&eacute; maintenant.
    p
      span.fr-video.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        video.fr-draggable(controls='', src='https://i.froala.com/download/ce616d3f505b961b923fb1a1c66544f4fcc74ea2.mp4?1579360088', style='width: 600px;') Your browser does not support HTML5 video.
