h1 Nouvelle fonctionnalité : limitez le nombre de commandes pour un rendez vous
.intro Les Jardins d'Orléans en avaient besoin, donc vous devriez tous y avoir accès maintenant. 
html
  body
    p
      | Une nouvelle option est maintenant disponible dans l&apos;onglet &quot;divers&quot; des rendez vous. Elle vous permet de limiter le nombre de commandes sur certains rendez vous.
    p
      br
    p
      | Cette limite devrait &ecirc;tre appliqu&eacute;e aux nouvelles commandes. Vous pouvez outrepasser cette limite en commandant &agrave; la place du client.
    p
      | C&apos;est particuli&egrave;rement utile en ce moment, si vous ne voulez pas avoir trop de monde au rendez vous.
    p
      br
    p
      | Il y a une petite chance que ce changement est introduit des bugs, n&apos;h&eacute;sitez pas &agrave; me contacter si vous voyez quelque chose de suspect.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/c4486f12dbb8f4600bb5899c4526dfafd9116a14.jpg')
