h1 Une nouvelle version de l'appli sera déployée lundi
.intro Je vous l'annonce à l'avance mainteant, au cas ou vous voulez la tester. 
html
  body
    p
      | Les 2 derni&egrave;res semaines ont &eacute;t&eacute; pass&eacute;es sur des changements principalement techniques, mais cette nouvelle version r&egrave;gle quelques probl&egrave;mes.
    p
      strong Ces changements seront d&eacute;ploy&eacute; lundi,&nbsp;
      | sauf opposition de votre part.
    p
      | Si vous voulez, vous pouvez pr&eacute;visualiser ces changements en vous connectant &agrave; l&apos;
      a(href='https://staging.ciboulette.net/') instance &quot;staging&quot;&nbsp;
      | de l&apos;application, qui sert aux tests (en n&apos;envoie pas d&apos;email ou de SMS).
    p
      | Staging &agrave; une copie des donn&eacute;es de production, mais les changement que vous faites dessus n&apos;auront pas d&rsquo;impact sur l&apos;application r&eacute;elle.
    h2 Page pr&eacute;paration
    p
      span.fr-img-caption.fr-fil.fr-dib(style='width: 769px; width: 769px;')
        span.fr-img-wrap
          img(src='/blog/imgs/98a59cba6b2d4366ae7aaab9617340ce88e897ca.jpg')
          span.fr-inner Disposition am&eacute;lior&eacute;e du r&eacute;capitulatif de pr&eacute;paration
    p
      | Vous pouvez maintenant masquer la liste de clients si vous n&apos;en avez pas besoin (masqu&eacute;e par d&eacute;faut).
    p
      | La d&eacute;coupe des pages devrait &ecirc;tre plus fiable qu&apos;avant (pas de saut de page au mileu d&apos;une liste de clients ayant command&eacute; un produit)
    p
      | Vous avez l&apos;option de trier les produits par nombre de commande, pour mettre cote &agrave; cote les listes les plus longues et &eacute;conomiser un peu de papier (c&apos;est pas parfait, mais d&eacute;j&agrave; mieux)
    p
      br
    h2 Page stock
    p
      span.fr-img-caption.fr-dib.fr-fil(style='width: 979px;')
        span.fr-img-wrap
          img(src='/blog/imgs/0b7c40a20c87d32ac060472dc1ef6de4028f0081.jpg')
          span.fr-inner Nouvelle page de stocks
    p
      | Les quantit&eacute;s command&eacute;es sont maintenant affich&eacute;es sans qu&apos;il y ait besoin de passer la souris (s&apos;il y a au moins une commande pour ce produit).
    p Les produits ou plus de 50% du stock sont affich&eacute;s en orange.
    p Les produits avec le stock compl&egrave;tement &eacute;puis&eacute; sont en rouge.
    p
      | Les produits ou plus de produits ont &eacute;t&eacute; command&eacute; que le stock disponible sont avec le fond rouge. Ca ne devrait pas arriver souvent, c&apos;est surtout si vous r&eacute;duisez le stock en milieu de semaine, ou passez une commande en temps que mara&icirc;cher, ou s&apos;il y a un bug dans l&apos;appli.
    h2 Clients de la semaine
    p
      span.fr-img-caption.fr-dib.fr-fil(style='width: 836px; width: 836px;')
        span.fr-img-wrap
          img(src='/blog/imgs/69a5337a9f597fa372691d889bcfd76c86db9111.jpg')
          span.fr-inner Nouvelle disposition des ent&ecirc;tes
    p
      | Vous n&apos;avez plus qu&apos;un seul bouton d&apos;envoi, qui est pour les VIP s&apos;il y en a, sinon pour tous les autres clients.
    h2 Admin clients
    p
      span.fr-img-caption.fr-fil.fr-dib(style='width: 1010px; width: 1010px;')
        span.fr-img-wrap
          img(src='/blog/imgs/de6efea012854f132f7e6748e3cf468c5e6795b7.jpg')
          span.fr-inner Nouvelle disposition, nouveau status &quot;pas encore inscrit&quot;
    p
      | Les clients qui ont &eacute;t&eacute; contact&eacute;s une fois mais n&apos;ont pas encore cliqu&eacute; l&apos;email sont mainteant affich&eacute;s comme &quot;inscrit : pas encore&quot; dans cette liste, et affich&eacute; par d&eacute;faut (sans avoir besoin de cocher &quot;afficher les clients d&eacute;sinscrits&quot;)
    h2 Autres corrections
    ul
      li Les infobulles sont masqu&eacute;es &agrave; l&apos;impression
      li L&apos;affichage du num&eacute;ro de semaine est optionnel
      li L&apos;interface mara&icirc;cher devrait marcher sur iphone
      li
        | Le look des pages est un peu plus standard qu&apos;avant, avec le titre &agrave; gauche, l&apos;action principale &agrave; droite, les options en dessous.
      li
        | Les notifications ont &eacute;t&eacute; retravaill&eacute;es, il devrait y en avoir moins, et elles devraient &ecirc;tre plus utiles. Rendre configurables les even&eacute;ments qui d&eacute;clanchent une notification devrait &ecirc;tre assez facile maintenant.
    p
      | Cette version change plus de 260 fichiers dans l&apos;appli, donc &ccedil;a ne m&apos;&eacute;tonnerais pas trop que &ccedil;a introduise un ou deux bugs. C&apos;est pourquoi je compte la d&eacute;ployer lundi, pour &ecirc;tre disponible pour corriger tout ce qui pourrait arriver le plus vite possible.
    p
      br
    p
      br
    p
      br
    p
      br
