h2 Email de confirmation d'inscription pour les clients
.intro Pour limiter les spams, les clients doivent mainteant confirmer qu'ils sont intéressés
html
  body
    p
      | Apr&egrave;s l&apos;outil pour retirer les clients inactifs, l&apos;&eacute;tape suivante &eacute;tait d&apos;&eacute;viter d&apos;inscrire des gens qui ne sont pas int&eacute;ress&eacute;s.
    p
      | Le premier e-mail d&apos;invitation pour les clients sera maintenant diff&eacute;rent des e-mails normaux, avec un texte sp&eacute;cial personnalisable.
    p Voici un exemple c-dessous.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/d51157b1bd4cae80b5c91cf001c9fa926f8307ff.jpg')
