h1 Exportez vos données en xlsx
.intro Exportez les quantités de produits vendus et totaux de commandes par semaine
html
  body
    p
      | Le tableau de comptabilit&eacute; classique &agrave; &eacute;t&eacute; retir&eacute;, et vous avez deux nouveaux &quot;exporteurs&quot; :
    ul
      li Quantit&eacute; de produits vendus
      li Vente par semaine (&eacute;quivalent de l&apos;ancien tableau de comptabilit&eacute;).
    p
      | Vous obtenez un tableau en format MS Excel (.xlsx) qui peut &ecirc;tre ouvert par la pluspart des application de tableur.
    p
      | Je pense ajouter d&apos;autres exports (liste de clients, liste de produits, commandes ..).
    p N&apos;h&eacute;sitez pas &agrave; me contacter pour d&apos;autres exports qui vous seraient utiles.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/fd848dda1f2808a9a6b6f03e65629a9e24252bae.jpg')
