h1 Importateur de produits et nouvelles
.intro Une nouvelle fonction principalement utile pour les nouveaux maraichers.
html
  body
    p Hello&nbsp;
    p
      | Une nouvelle fonction toute fra&icirc;che est sortie, l&apos;
      strong importateur de produit
      | . C&apos;est surtout utile 
      strong pour les nouveaux clients
      | , pour qu&apos;ils transf&egrave;rent rapidement leur liste de produits depuis un fichier excel (screenshot ci dessous).
    p
      | Sinon, je tiens &agrave; vraiment remercier 
      strong Emmanuel
      |  de la F
      a(href='http://ferme-st-ursin.fr/') erme Saint-Ursin
      |  pour son 
      strong partage de l&apos;application dans un groupe facebook de mara&icirc;chers
      | , j&apos;ai eu plusieurs contacts qualifi&eacute;s en raison de &ccedil;a :) N&apos;h&eacute;sitez pas &agrave; 
      strong parler de l&apos;application autours de vous
      |  et online.
    p
      | Pour accommoder ces nouveaux clients, il semble qu&apos;une fonction r&eacute;guli&egrave;rement demand&eacute;e est l&apos;
      strong invitation hebdomadaire des clients par SMS
      | . Je vais regarder comment coder &ccedil;a au mieux cette semaine.
    p
      | Mon s&eacute;jour en Russie est presque termin&eacute;, si tout se passe comme pr&eacute;vu je serais 
      strong de retour en France le 27 d&eacute;cembre 2020
      |  et de nouveau joignable par t&eacute;l&eacute;phone sur des horaires plus normaux.
    p Bonne semaine &agrave; tous
    p
      img.fr-dib.fr-fil(src='/blog/imgs/3f9dece3fd372c0156009921deef9c776b739ec6.jpg')
    p
      br
    p
      br
    p
      br
