h1 Produits en paniers uniquement
.intro Et une petite correction dans l'admin
html
  body
    p Hello
    p Deux petites avanc&eacute;es &agrave; annoncer :&nbsp;
    ul
      li Vous pouvez marquer un produit comme exclusivement disponible en paniers
      li L&apos;admin client devrait &ecirc;tre un peu plus rapide quand on fait une recherche
    p Plus de d&eacute;tails en vid&eacute;o ci dessous. 
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable.fr-fvl(contenteditable='false', draggable='true')
        iframe(src='https://www.youtube.com/embed/ncyALmAVHeU?wmode=opaque', allowfullscreen='', width='640', height='360', frameborder='0')
      br
