h1 Les SMS étaient off pendant 2 jours
.intro J'éspère que ça vous à pas trop impacté
html
  body
    p Hello
    p
      | Juste un petit post pour signaler que les SMS &eacute;taient cass&eacute;s depuis le dernier d&eacute;ploiement le 8 septembre, &agrave; cause d&apos;une typo dans mon code &gt;&lt;
    p
      | Mais j&apos;ai d&eacute;ploy&eacute; un fix (donc le site &eacute;tait inaccessible quelques minutes) et je peux confirmer qu&apos;ils marchent correctement maintenant.
    p
      | Le tel que j&apos;utilise pour envoyer ces SMS est de nouveaux op&eacute;rationnel, donc si vous souhaitez re-activer les SMS de rappel n&apos;h&eacute;sitez pas, &ccedil;a me co&ucirc;tera pas un bras.
    p
      | Pour ce faire il suffit d&apos;aller dans l&apos;onglet &quot;RDV de la page en cours, cliquer sur le titre pour afficher les options de la page, et cocher &quot;
      span(data-tooltip="L'application n'envoie pas de SMS de rappel de rendez-vous à vos clients") Envoyer un SMS aux clients pour leur rappeler qu&apos;ils ont rendez-vous
      | &quot;
    p Bonne journ&eacute;e
