h1 Editeur de RDV v2 
.intro Un peu plus clair et avec plein de fautes d'orthographe en moins
html
  body
    p
      | Le 
      a(href='https://trello.com/c/QTHMVmej/137-recoder-l%C3%A9diteur-de-rdv-en-preact') nouvel &eacute;diteur de rendez-vous
      |  est live.
    p
      | David des 
      a(href='https://lejardindedavid.blogspot.com/') Jardins de Petite Lande
      |  a &eacute;t&eacute; tr&egrave;s impliqu&eacute; dans cette mise &agrave; jour, avec beaucoup de corrections orthographiques, de suggestions et retours.
    p
      | C&apos;est comme si j&apos;avais un Product Manager tr&egrave;s pro, qui en plus est un utilisateur quotidien du produit.
    p Changements notables :
    ul
      li
        | Dans l&apos;&eacute;diteur de rdv la case &quot;trouver plus de clients pour ce rendez-vous&quot; a disparu, elle est consid&eacute;r&eacute;e comme activ&eacute;e pour tous les rendez vous.
      li
        | Le nom automatique des rendez-vous n&apos;inclus plus la date exacte, seulement le jour de la semaine, pour &ecirc;tre plus compacte dans les ent&ecirc;tes de tables.
      li
        | La liste des semaines tout &agrave; gauche n&apos;affiche maintenant qu&apos;une page de liens, avec un bouton pour afficher plus de semaines, parce que produire la liste compl&egrave;te avait 
        a(href='https://trello.com/c/kHIhSBky/134-uniquement-afficher-les-10-semaines-les-plus-r%C3%A9centes-et-avoir-un-bouton-qui-permet-de-charger-le-reste') tendance &agrave; ralentir l&apos;appli.
    p
      | Pour la suite, je ne suis pas encore s&ucirc;r de ce que je vais changer, vous pouvez suivre l&apos;action en direct 
      a(href='https://trello.com/b/GaZSJzzq/ciboulettenet-roadmap') sur trello.
    p Bonne journ&eacute;e &agrave; vous
    p
      span.fr-img-caption.fr-dib.fr-fil(style='width: 1172px;')
        span.fr-img-wrap
          img(src='/blog/imgs/e92268e3ec51cc86cddf31626d3b64e4b30e06a0.jpg')
          span.fr-inner
            | &Eacute;cran date et lieu du rendez-vous, un peu plus lisible que la version pr&eacute;c&eacute;dente.
            br
    p
      span.fr-img-caption.fr-dib.fr-fil(style='width: 1141px;')
        span.fr-img-wrap
          img(src='/blog/imgs/caf8d17a198285f4ac29599b8a54fbf4fe9428e6.jpg')
          span.fr-inner
            | &Eacute;cran &quot;instructions&quot;, avec les infos du rendez-vous pour les clients (nom, description, contenu du rappel). J&apos;aurais pu l&rsquo;appeler &quot;textes&quot;, je n&apos;&eacute;tais pas sur du nom.
            br
    p
      span.fr-img-caption.fr-dib.fr-fil(style='width: 1137px;')
        span.fr-img-wrap
          img(src='/blog/imgs/390c4f47152c3d4cf1df7fe55f5b8f53cd273c43.jpg')
          span.fr-inner
            | &Eacute;crans &quot;clients &amp; limites&quot; un peu confus, avec les options commandes max, prix min, d&eacute;sactiver, et la liste d&apos;emails clients pour vos mailings personnels. 
            br
