h1 Filtre de rendez vous dans l'export des ventes
.intro Un petit détail proposé par Le Petit Moulin
html
  body
    p Hello
    p Vous pouvez maintenant filtrer l&apos;export de compta par rendez-vous.&nbsp;
    p
      | Seuls les rendez vous pr&eacute;sent dans la semaine active sont propos&eacute;s, donc si vous avez supprim&eacute; des rendez vous dans le pass&eacute; vous ne pourrez pas ensuite les choisir comme filtre. Le filtre est bas&eacute; sur l&apos;id du rendez-vous, donc si vous avez renomm&eacute; un rendez-vous il sera toujours consid&eacute;r&eacute; comme le m&ecirc;me rendez-vous.
    p
      br
    p Bonne journ&eacute;e
    p
      img.fr-fil.fr-dib(src='/blog/imgs/78814cb1afbe3f903ffb1b2bb71c3151759bf7a3.jpg')
      | re.
    p
      br
