h1 Corrections suite aux évolutions
.intro Le changement c'est bien mais ça fout le boxon
html
  body
    p Corrections publi&eacute;es aujourd&apos;hui &nbsp;:&nbsp;
    ul
      li Option pour d&eacute;sactiver la pagination dans les param&egrave;tres globaux
      li
        | Imprimer une table (via le bouton de l&apos;interface) d&eacute;sactive sa pagination (pour imprimer l&apos;ensemble de ses lignes)
      li Les tables avec moins de 50 lignes ne seront plus pagin&eacute;es
      li Re-introduction du bouton d&apos;impression dans les paiements
      li
        | Petit texte pour indiquer qu&apos;il faut survoler les en-t&ecirc;tes pour voir les totaux de paiements
      li Simplification de la tooltip des totaux par mode de paiement
      li
        | Correction du message d&apos;alerte dans la fen&ecirc;tre d&apos;&eacute;dition de clients pour les clients en attente d&apos;approbation.
      li Correction de fautes d&apos;orthographe, et ajout de nouvelles fautes :p
      li
        | Plus de d&eacute;tail dans les tooltip de statut de commande (quand est ce que la commande &agrave; &eacute;t&eacute; pass&eacute;e par exemple)
    p
      br
    p
      br
