h1 Dé-dupliquer les clients
.intro Un bug étrange créé des doublons de clients
html
  body
    p
      | Je ne suis pas tout &agrave; fait certain de la raison, mais certains clients ont &eacute;t&eacute; dupliqu&eacute;s de nombreuses fois dans les ann&eacute;es pr&eacute;c&eacute;dentes. La plupart d&apos;entre eux se sont d&eacute;j&agrave; d&eacute;sinscrits suite au spam d&apos;e-mails qu&apos;ils recevaient. Dans le doute, j&apos;ai ajout&eacute; une fonction pour &quot;fusionner&quot; les clients multiples avec la m&ecirc;me adresse.
    p
      br
    p
      | Avoir plusieurs clients avec la m&ecirc;me adresse ne devrait normalement pas arriver. Si &ccedil;a se reproduit vous serez alert&eacute; dans la page d&apos;accueil. J&apos;ai aussi mis en place un script qui fusionne les doublons existants.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/113c8be3429eb138333c731e7936eecebd1db8fb.jpg')
