h1 Réglement de quelques problèmes
.intro 
html
  body
    p
      | Dans la page client, si vous ajoutez un client qui est d&eacute;j&agrave; dans la liste, les rendez vous assign&eacute;s &agrave; ce client sont maintenant cumul&eacute;s entre ceux coch&eacute;s dans la fen&ecirc;tre d&apos;ajout et ceux d&eacute;j&agrave; assign&eacute;s.
    p
      br
    p
      br
