h2 SMS de rappel vers toute l'Europe
.intro Les clients avec des numéros de tel mobile en europe pourrons maitenant reçevoir des sms du système
html
  body
    p
      | Jusque l&agrave; mon filtrage de num&eacute;ro pouvant recevoir des SMSs &eacute;tait un peu sommaire, avec un test pour voir si le num&eacute;ro commence par +336 ou +337.
    p
      | Maintenant, le test pour savoir si le num&eacute;ro est un mobile classique est effectu&eacute; avec une librairie sp&eacute;cialis&eacute;e qui g&egrave;re les pr&eacute;fixes mobiles de plusieurs pays.
    p
      | J&apos;autorise l&apos;envoi de SMSs aux mobiles des pays suivants (code pays iso): FR,DE,AT,BE,BG,HR,DK,ES,EE,FI,GR,HU,IE,IS,IT,LV,FL,LT,LU,NO,NL,PL,PT,RO,UK,SK
