h1 Simplification de l'éditeur de textes
.intro Et une nouvelle manière d'afficher/masquer les options
html
  body
    p Hello
    p
      | Aujourd&apos;hui je d&eacute;ploie deux changements qui touchent les textes et les options des pages de l&apos;interface mara&icirc;cher.
    h2 &Eacute;diteur de textes
    p
      | La page texte ne vous demande maintenant que &nbsp;de r&eacute;diger une seul texte, en g&eacute;n&eacute;ral, celui pour les clients existants, avec les news de la semaine.
    p Le texte pour les nouveaux clients est &eacute;ditable dans les param&egrave;tres.
    p
      | Si vous avez un nouveau client &agrave; emailer, la page de textes vous invitera &agrave; mettre &agrave; jour le texte pour ce nouveau client, mais &ccedil;a ne devrait pas &ecirc;tre n&eacute;cessaire en g&eacute;n&eacute;ral.
    p
      | Les champs &quot;nouvelles de l&apos;exploitation&quot; et &quot;texte statiques&quot; ont &eacute;t&eacute; fusionn&eacute;s, il n&apos;y a maintenant qu&apos;un seul champ &quot;nouvelles de l&apos;exploitation&quot; qui est copi&eacute; d&apos;une semaine &agrave; l&apos;autre.
    p
      | L&apos;&eacute;dition de ce champ est obligatoire avant d&apos;envoyer les emails, pour &eacute;viter d&apos;oublier de le mettre &agrave; jour. Mais il suffit de changer un caract&egrave;re si vous ne souhaitez pas mettre de texte en particulier cette semaine.
    h2 Options des pages
    p
      | Les options des pages, par exemple, l&apos;affichage des produits en mode tableau, sont maintenant masqu&eacute;es par d&eacute;faut.
    p En cliquant sur le titre, vous pouvez les rendre visible.
    p En cliquant &agrave; nouveau sur le titre, vous pouvez les masquer.
    p
      | Le mode d&apos;affichage des options de chaque page est sauvegard&eacute; et ne devrait pas changer m&ecirc;me si vous rechargez la page, changez de semaine, etc .. l&apos;appli ce souviendra de masquer les options des produits et d&apos;afficher celles des tickets de caisse par exemple.
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(src='https://www.youtube.com/embed/SpMznuPOfr8?wmode=opaque', allowfullscreen='', width='640', height='360', frameborder='0')
      br
