h1 Fermeture des inscriptions
.intro Assurer le support de nouveaux clients depuis la russie s'avère trop compliqué
html
  body
    p
      | J&apos;ai eu quelques inscriptions suite au covid, mais g&eacute;rer l&apos;arriv&eacute;e de nouveaux utilisateurs depuis la Russie s&apos;av&egrave;re compliqu&eacute;, donc pour l&apos;instant le syst&egrave;me n&apos;accepte plus de nouveaux utilisateurs.
    p
      | Je me concentre sur la modernisation de l&apos;application cet &eacute;t&eacute;/automne, et les inscriptions seront r&eacute;-ouvertes cet hiver.
    p
      | Si vous &ecirc;tes un mara&icirc;cher int&eacute;ress&eacute; par le projet, &eacute;crivez moi &agrave; l&apos;adresse suivante, je vous contacterais quand les inscription seront re-ouvertes : renan.lecaro@gmail.com
    p
      br
