h1 Nouveaux articles du blog directement dans l'appli
.intro Annonce de nouvelles fonctions
html
  body
    p Quelques petites am&eacute;liorations r&eacute;centes:
    ul
      li
        | Les 
        strong noms de clients
        |  sont maintenant dans une 
        strong couleur
        |  
        strong repr&eacute;sentant leur statut
        | . Vert/Rouge/Gris/Bleu pour Cr&eacute;diteur/D&eacute;biteur/D&eacute;sinscrit/Normal
      li
        | Quand je poste sur le blog, vous devriez avoir un lien vers l&apos;article directement dans l&apos;appli, bien visible dans la barre du haut. Il dispara&icirc;t quand vous ouvrez l&apos;article.
      li
        | Vous avez une option dans les param&egrave;tres pour recevoir les 
        strong notifications
        |  de ciboulette sur votre ordinateur ou tel, 
        strong m&ecirc;me quand l&apos;appli est ferm&eacute;e
        | . Je vais essayer de limiter les notifications inutiles, parce que pour l&apos;instant je notifie pour un peu tout ce qu&apos;il se passe, m&ecirc;me s&apos;il n&apos;y a rien de sp&eacute;cial a faire de votre cot&eacute;.
      li
        | Dans la page d&apos;accueil, je liste les clients inactifs, vous pouvez maintenant cliquer sur leur nom pour voir les d&eacute;tails de ce client
      li
        | Dans la page de pr&eacute;paration, une petite fonction &quot;cach&eacute;e&quot; a &eacute;t&eacute; ajout&eacute;e. Si vous 
        strong cliquez sur l&apos;ent&ecirc;te &quot;Client&quot;
        |  une fen&ecirc;tre s&apos;ouvre avec la 
        strong liste des emails des clients
        |  ayant command&eacute; ce produit.
        br
        img.fr-dib.fr-fil(src='/blog/imgs/fe6a855621d88000dd058f55d6d591928fae9c66.jpg')
      li
        | Vous pouvez maintenant consulter l&apos;historique de plantons de ciboulette, sur la page suivante (vous indique les p&eacute;riodes ou l&apos;appli &eacute;tait offline) : 
        a(href='https://uptime.ciboulette.net/') https://uptime.ciboulette.net/
      li
        | J&apos;ai maintenant une instance de test, un serveur qui est comme celui de production mais un peu moins performant, et me permet de v&eacute;rifier qu&apos;un d&eacute;ploiement sur digitalocean se passe bien avant de le lancer &quot;en vrai&quot;.
    p
      br
    p
      br
