h1 L'éditeur de produit est live !
.intro Merci à David pour avoir assuré la QA et trouvé plein de petits bugs
html
  body
    h2 Nouvel &eacute;diteur de produit : live
    p
      | Vous devriez maintenant avoir cette nouvelle fen&ecirc;tre quand vous &eacute;ditez un produit, n&apos;h&eacute;sitez pas &agrave; reporter les possibles bugs et probables fautes d&apos;orthographe par e-mail.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/5f5500c09926db2aa8072669c15969c285f3f06b.jpg', style='width: 742px;')
    p
      br
    h2 Nouvel &eacute;diteur de RDV : en d&eacute;veloppent
    p
      | Je m&apos;occupe maintenant de l&apos;assez compliqu&eacute; &eacute;diteur de rendez-vous. Vous pouvez voir la derni&egrave;re version de d&eacute;veloppement sur staging, c&apos;est une copie du site ciboulette qui n&rsquo;envoie pas d&rsquo;e-mails ni de SMS mais fait le reste comme la vrai app. &Ccedil;a me permet de mettre en tester mes changements, et &ccedil;a devrait vous permettre a vous aussi de faire des essais.
    p
      | Pour les curieux : 
      a(href='https://staging.ciboulette.net/') https://staging.ciboulette.net/
    p
      | Le login/mdp devraient &ecirc;tre les m&ecirc;mes que sur la production. La base de donn&eacute;e est synchronis&eacute;e manuellement (staging est bas&eacute; sur une copie de la production) donc il se peut que les donn&eacute;es diff&egrave;rent, ce n&apos;est pas un pb.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/61c9e81ff228effa847cb127fd2e2003ecf3f937.jpg')
    p
      br
    p
      img.fr-dib.fr-fil(src='/blog/imgs/e7bdcd322403fce1ef72a6544c84e6115f797bf6.jpg')
