h1 Cyberlégume se réveil en 2020
.intro Dévelopement à plein temps pour les 2 prochains mois.
html
  body
    p
      | Hello les cyber-mara&icirc;chers, bonne ann&eacute;e et bienvenue aux nouveaux ! Voici un billet pour vous tenir au courant des avancements du projet et des plans pour 2020.
    h2 2 ans d&apos;hibernation
    p
      | Voici &nbsp;2 ans maintenant que le projet avan&ccedil;ais tout doucement, parce que j&apos;avais un job &agrave; plein temps en Allemagne. &nbsp;Pendant cette p&eacute;riode, j&apos;ai fait en sorte de maintenir l&apos;application fonctionnelle, mais les demandes d&apos;am&eacute;lioration sont pour la plupart all&eacute; s&apos;empiler dans ma &quot;todo list&quot;. Dans l&apos;ensemble, il n&apos;y a pas eu trop d&apos;ennuies et le logiciel tourne sans mon intervention.
    p J&apos;ai d&eacute;missionn&eacute; de mon entreprise pour avoir plus de temps libre en 2020.
    h2 2 mois &agrave; plein temps
    p
      | Aujourd&apos;hui, je peux me consacrer &agrave; 100% &agrave; mes projets personnels, dont le principal est le logiciel Cyberl&eacute;gume.
    p
      | J&apos;ai d&eacute;j&agrave; attaqu&eacute; quelques gros dossiers, donc voil&agrave; en vrac quelques nouveaut&eacute;s :
    ul
      li
        | Page d&apos;accueil, colonne &quot;Vos clients&quot; : &quot;Clients inactifs&quot; &nbsp;vous permet de 
        strong faire le m&eacute;nage rapidement dans vos clients
        | .
        br
        br
      li
        | L&apos;
        strong ajustement des stocks
        |  devrait &ecirc;tre plus rapide. Avant, chaque modification entra&icirc;nait un recalcule des totaux, ce qui n&apos;est pas n&eacute;cessaire.
        br
        br
      li
        | Vous pouvez maintenant vous 
        strong abonner aux news
        |  que j&apos;&eacute;cris sur ce blog, soit avec le formulaire en bas de page, soit &agrave; l&apos;inscription &agrave; cyber.
        br
        br
      li
        | La 
        strong semaine en cours &agrave; une couleur diff&eacute;rente
        |  dans la liste de semaines &agrave; gauche de l&apos;&eacute;cran.
        br
        br
      li
        | Vous pouvez afficher/masque le 
        strong nom du rendez-vous dans les tickets de caisse
        | .
        br
        br
      li
        | Page d&apos;accueil : quand vous 
        strong ajoutez un client
        | , vous pouvez l&apos;ajouter &agrave; la 
        strong semaine en cours et la suivante
        |  en cochant les rendez-vous correspondants.
        br
        br
      li
        | Les anciennes notifications et logs sont nettoy&eacute;s pour &eacute;viter qu&apos;ils ralentissent l&apos;application.
    p
      | En ce moment, je travaille sur un e-mail sp&eacute;cial pour les nouveaux clients, avec un bouton qui dit explicitement &quot;m&apos;abonner&quot;. Si le client ne le clique pas, il ne recevra plus aucun e-mail de cyber. Vous pourrez toujours &quot;l&apos;abonner&quot; s&apos;ils ne trouvent pas l&apos;e-mail, etc .. mais par d&eacute;faut, les clients doivent explicitement exprimer leur int&eacute;r&ecirc;t.
    p
      | Apr&egrave;s cela, il me reste deux trois d&eacute;tails &agrave; r&eacute;gler, et je vais commencer &agrave; faire du d&eacute;marchage t&eacute;l&eacute;phonique pour trouver de nouveaux mara&icirc;chers qui pourraient profiter du logiciel.
    p
      | Je vous encourage, bien entendu, &agrave; parler du logiciel autour de vous d&egrave;s aujourd&apos;hui.
    h2 10 mois &agrave; mi-temps
    p
      | Le 22 f&eacute;vrier 2020 je pars pour la Russie. J&apos;y &eacute;tudierais &agrave; mi-temps le Russe. Le reste du temps, je m&apos;occuperais de cyber.
    p
      | Mon num&eacute;ro de t&eacute;l&eacute;phone ne sera plus joignable, mais j&apos;aurais toujours les e-mails, &nbsp;WhatsApp et Skype avec une grosse diff&eacute;rence de timezone cependant.
    p
      | Je travaille d&eacute;j&agrave; principalement par e-mail pour le support, donc &ccedil;a ne devrait pas changer grand chose au final.
    p
      br
