h1 Réouverture des inscriptions
.intro Je ne m'attends pas à avoir beaucoup de nouveaux utilisateurs sans promotion du logiciel, mais vous pouvez de nouveau recommander le produit à vos amis.
html
  body
    p Hello
    p
      | Bonne nouvelle, les inscriptions sont de nouveau ouvertes. Vous pouvez parler du syst&egrave;me &agrave; vos amis, et ils pourront l&apos;essayer.
    p
      | Je pense que ciboulette n&apos;est pas encore tout &agrave; fait optimis&eacute; pour accueillir de nouveaux utilisateurs, mais &ccedil;a ne veut pas dire que je devrais compl&egrave;ment bloquer l&apos;acc&egrave;s aux mara&icirc;chers curieux.
    p
      | Sinon, &agrave; part &ccedil;a, j&apos;ai corrig&eacute; un bug dans l&apos;affichage de l&apos;onglet stocks, et je peux maintenant prendre la main sur votre compte sans avoir besoin de connaitre votre mot de passe. Vous pouvez changer votre mot de passe via la fonction &quot;mot de passe oubli&eacute;&quot; si vous le souhaitez.
