h1 Les SMS de rappel sont maintenant désactivés par défaut
.intro 
html
  body
    p Bonjour&nbsp;
    p
      br
    p
      | J&apos;avais une technique pour envoyer les SMS de rappel pour pas cher, mais elle ne fonctionne plus donc je dois payer plein pot. Ca me co&ucirc;te environ 100&euro; / mois. De plus, les rendez vous sont un peu chamboul&eacute;s par le confinement, donc les sms de rappel n&apos;aident pas toujours.
    p
      br
    p
      | Si les sms de rappel vous sont utiles, j&apos;ai mis en place une option, il suffit d&apos;aller dans param&egrave;tre et de cocher &quot;sms de rappel&quot; pour l&apos;activer.
    p
      br
    p
      | Si vous n&apos;avez pas besoin de sms de rappel actuellement, vous n&apos;avez rien &agrave; faire, l&apos;
      strong option est d&eacute;sactiv&eacute;e par d&eacute;faut
      | .
    p
      br
    p Cordialement
