h1 Page clients beaucoup plus rapide
.intro 
html
  body
    p Bonjour
    p
      | Suite a un message des petits clics bio, je me suis enfin rendu compte de la lenteur extr&ecirc;me de l&apos;onglet &quot;clients&quot;. &Ccedil;a atteignait 40 secondes de chargement &agrave; chaque clic avec 500 clients
    p
      | J&apos;ai chang&eacute; la mani&egrave;re dont le statut des commandes est calcul&eacute;, ce qui rends la page infiniment plus rapide. En revanche, il est possible que j&apos;ai oubli&eacute; un cas et que le statue des commandes ne soit pas toujours &agrave; jour :/ Si c&apos;est le cas, merci de m&apos;&eacute;crire.
    p
      | J&rsquo;esp&egrave;re que ce sera quand m&ecirc;me beaucoup mieux comme &ccedil;a. J&apos;ai pas mal repouss&eacute; ce changement de peur d&apos;introduire des bugs discrets dans l&apos;appli, mais bon &ccedil;a reste mieux qu&apos;un tableau de clients inutilisable.
    p
      | Possible que le tableau &quot;clients&quot; ne fonctionne pas pour les anciennes semaines pendant quelques jours. Les statue des commandes est en train d&apos;&ecirc;tre r&eacute;-calcul&eacute;s pendant que je vous &eacute;crit.
    p Cordialement
