h1 Octobre improductif
.intro Beaucoup de distractions et pas beaucoup d'avancées. 
html
  body
    p Bonjour &agrave; tous
    p
      | Ce mois ci le projet a assez peu avanc&eacute;, j&apos;ai fait quelques corrections de bug mais dans l&apos;ensemble j&apos;ai pas pu beaucoup coder.
    p
      | J&apos;ai aussi pass&eacute; pas mal de temps sur des projets open source accessoires, comme 
      a(href='https://workspace.google.com/marketplace/app/mermaid/636321283856?pann=cwsdp&hl=en') mermaid gdocs
      | , 
      a(href='https://renanlecaro.github.io/importabular/') importabular
      |  et 
      a(href='https://simpletext.link/') simpletext.
    p
      | Les cours de russe que je suis &agrave; Vladivostok ont repris en pr&eacute;sentiel, et un nouveau coloc m&apos;avait &eacute;t&eacute; assign&eacute; (les &eacute;tudiant ici sont &agrave; deux par chambre).
    p
      | Je passais beaucoup de temps &agrave; discuter avec ce nouveau coloc au lieu de programmer.
    p
      | Je passait aussi 2h30 dans les transports chaque jour, en plus des 3h de cours de russe.
    p
      | J&apos;ai depuis d&eacute;m&eacute;nag&eacute; plus pr&egrave;s de l&apos;universit&eacute;, &nbsp;et j&apos;ai &agrave; nouveau un bon environnement pour bosser.
    p
      | Je m&apos;occupe pour le moment de la r&eacute;organisation de la page de param&egrave;tres, rien de tr&egrave;s excitant, le gros du travail est de r&eacute;organiser du code que je n&apos;ai pas touch&eacute; depuis longtemps.
    p Novembre devrait &ecirc;tre un peu plus productif
    p Bonne journ&eacute;e &agrave; vous
