h1 Nouvelle fonction pour mieux vendre les courges
.intro Et petites correction de bugs
html
  body
    p
      | C&apos;est un probl&egrave;me r&eacute;current que j&apos;ai enfin r&eacute;solu : la prise de commande pour les courges et autres cucurbitac&eacute;s. Vous avez maintenant une case &agrave; cocher d&eacute;di&eacute;e dans l&apos;&eacute;diteur de produit, qui vous permet de prendre les commandes de courges par pi&egrave;ces, mais de les facturer au Kg.
    p Plus de d&eacute;tails dans la video ci dessous
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(width='640', height='360', src='https://www.youtube.com/embed/GZOr7Isw22I?wmode=opaque', frameborder='0', allowfullscreen='')
      br
