h1 Nouvelle organisation pour les paramètres
.intro Enfin du nouveau
html
  body
    p
      | J&apos;ai pris pas mal de retard sur le plan que j&apos;avais &agrave; l&apos;origine pour pr&eacute;parer ciboulette &agrave; la &quot;saison marketing&quot; cet hiver. J&apos;ai pu finir la 
      a(href='https://trello.com/c/sCsvZAFl/120-redesign-des-param%C3%A9tres') r&eacute;organisation des param&egrave;tres
      | , qui ont maintenant un sous menu, pour aider &agrave; la compr&eacute;hension. J&apos;esp&egrave;re que &ccedil;a rends les param&egrave;tres plus clairs.
    p En r&eacute;sum&eacute; :&nbsp;
    ul
      li Profile vendeur : votre description pour les clients
      li
        | Lien d&apos;invitation : formulaire &agrave; int&eacute;grer &agrave; votre page facebook / site web pour que que les visiteurs d&apos;ajoutent automatiquement a votre mailing liste.
      li Mail d&apos;invitation : param&egrave;trage de l&apos;exp&eacute;rience des nouveaux clients
      li Emailing : connexion au compte Gmail pour l&apos;instant
      li Notifications : activer les notifications web
      li
        | Performance : toutes les options pour rendre l&apos;application plus fluide sur un vieux PC
      li Exports : exporter vos donn&eacute;es de vente en xlsx
    p Les modes de paiement utilis&eacute;s sont dans les options de la page paiement. 
    p Ci dessous, explication en vid&eacute;o.
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(src='https://www.youtube.com/embed/6i7L_v7i-nw?wmode=opaque', allowfullscreen='', width='640', height='360', frameborder='0')
      br
