h1 Nouveau look
.intro Un look "frais" pour le site de présentation
html
  body
    p
      | &Ccedil;a fait un moment que j&apos;ai envie de faire un look moins &quot;bleu&quot;, ciboulette est un logiciel de mara&icirc;chage apr&egrave;s tout, pas d&apos;aviation. Je suis parti sur un look minimaliste avec un peu de vert et une police cursive pour accentuer les &eacute;l&eacute;ments importants.
    p
      | J&rsquo;esp&egrave;re que &ccedil;a vous pla&icirc;t, je pense partir sur le m&ecirc;me look pour l&apos;appli elle m&ecirc;me, donc si vous pr&eacute;f&eacute;rez le look plus &quot;bleu&quot; faites le moi savoir :)
    p
      img.fr-dib.fr-fil(src='/blog/imgs/75878e5c02e49ce67542ec97042e445a9f649430.jpg')
