h1 Petites corrections, et invitation à discuter de l'application
.intro Le design de nouvelles interfaces est plus intéressant quand on le fait avec les retours des utilisateurs
html
  body
    p Tout d&apos;abord, trois petit changements dans l&apos;appli
    ul
      li
        | Quand on &eacute;crivait des montant avec des centimes, l&apos;appli ne comprenait pas toujours correctement les nombres entr&eacute;s, &ccedil;a devrait &ecirc;tre r&eacute;gl&eacute;. 
        a(href='https://trello.com/c/lAMCHkW3/7-quand-je-rentre-des-montants-avec-des-centimes-les-centimes-ne-sont-pas-toujours-enregistr%C3%A9') Plus de d&eacute;tail
      li
        | Les semaines pas encore copi&eacute;es sont maintenant affich&eacute;es de 
        a(href='https://trello.com/c/ddwVd4m5/116-rendre-50-transparentes-les-semaines-pas-encore-copi%C3%A9es') mani&egrave;re tr&egrave;s discr&egrave;te
        | , pour vous permettre de plus rapidement aller a la semaine en cours
      li
        | Les e-mails de rappel sont maintenant 
        a(href='https://trello.com/c/3j8hktja/4-d%C3%A9sactiver-par-d%C3%A9faut-les-emails-de-rappel-proposer-leur-activation-au-client-quand-il-arriver-trop-tard-pour-commander') d&eacute;sactiv&eacute;s pour les nouveaux clients
        | . Je propose aux clients de les activer quand ils arrivent sur un bon de commande trop tard pour commander.
    p
      | Je r&eacute;fl&eacute;chis a pas mal de changements pour rendre l&apos;appli plus facile d&apos;acc&egrave;s aux futurs nouveaux mara&icirc;chers que je souhaite recruter cet hiver. Vos retours sur ces changements seraient tr&egrave;s appr&eacute;ci&eacute;s, mais je sais que vous avez beaucoup de travail en ce moment, donc si un/une d&apos;entre vous &agrave; un peu de temps pour discuter de l&apos;interface des changements que je souhaite y apporter, contactez moi.
    p Bonne journ&eacute;e
