h1 Publication de la roadmap
.intro Un tableau trello public pour suivre la progression du développement de cyberlégume
html
  body
    p
      | Aujourd&apos;hui j&apos;ai fait un peu de m&eacute;nage dans le 
      a(href='https://trello.com/b/GaZSJzzq/cyberlegume-roadmap', rel='noopener noreferrer', target='_blank') tableau trello
      |  que j&apos;utilise pour organiser le d&eacute;veloppent de nouvelles fonctionnalit&eacute;s dans cyberl&eacute;gume.
    p
      a(href='https://trello.com/b/GaZSJzzq/cyberlegume-roadmap', rel='noopener noreferrer', target='_blank')
        img.fr-dib.fr-fil(src='/blog/imgs/b16a12da6db6384336285f04b93204ce5fcf9018.jpg')
    p
      | Vous pouvez maintenant suivre en direct ce qu&apos;il se passe du cot&eacute; du code, et sur demande je peux vous ajouter comme collaborateur (pour que vous puissiez commenter / voter sur les tickets).
    p
      | S&apos;il manque quelque chose dans la liste, ou si quelque chose vous parait prioritaire mais a &eacute;t&eacute; rang&eacute; dans &quot;Moins prioritaire&quot; fa&icirc;tes le moi savoir par email (renan.lecaro@gmail.com).
    p En esp&eacute;rant que &ccedil;a vous plaise
    p Renan
