h2 Nouveau design pour la page destinataires
.intro Je compte utiliser plus souvent des tableaux dans l'application maintenant
html
  body
    p
      | L&apos;interface d&apos;ajout des destinataires a &eacute;t&eacute; simplifi&eacute;e. Il y a d&apos;une part un bouton pour ajouter des clients, et ensuite un tableau &agrave; double entr&eacute;e avec une ligne par client et une colonne par rendez-vous. Vous n&apos;avez qu&apos;&agrave; cocher la case &agrave; l&apos;intersection des deux pour autoriser un client &agrave; commander a un rendez-vous.
    p Vous pouvez cliquer sur les ent&ecirc;tes pour trier par rendez vous.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/678dc90598ff5110de3d4ccb4fb9a82d9e66ff03.jpg')
    p
      br
    p L&apos;ajout de client devrait aussi &ecirc;tre un peu plus clair.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/0d85cf18834e0c9bc688d40ce8366a500f3849a6.jpg')
    p
      br
    p Le m&ecirc;me syst&egrave;me de table &agrave; &eacute;t&eacute; appliqu&eacute; &agrave; la liste de produits en mode table.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/c0d3d4eda7117a2196d773896aeb51c0f24bb1cd.jpg')
    p
      br
