h1 Nouveau look de la navigation
.intro Un changement superficiel pour un look plus moderne, mais aussi plus fonctionnel sur mobile
html
  body
    p Hello
    p
      | Un changement que vous aurez probablement instantan&eacute;ment remarqu&eacute;, le look de la barre de navigation &agrave; chang&eacute; d&apos;aspect.
    p
      | Je pense que vous aurez une r&eacute;action n&eacute;gative &agrave; ce changement les premi&egrave;res minutes et vous devriez vous y habituer assez rapidement. Si ce n&apos;est pas le cas, n&apos;h&eacute;sitez pas &agrave; m&apos;&eacute;crire, 
      strong si tout le monde d&eacute;teste ce look je n&apos;h&eacute;siterais pas &agrave; faire marche arri&egrave;re
      | .
    p
      | Sur mobile, l&apos;interface est plus facile &agrave; utiliser. Les deux barres en haut de l&apos;&eacute;cran n&apos;en sont plus qu&apos;une.
    p
      | Sur ordinateur, on gagne un peu d&apos;espace pour mieux afficher le contenu de la page (plus de barre en haut de l&apos;&eacute;cran, et la barre verticale est plus courte gr&acirc;ce au retrait des ic&ocirc;nes dans le sous menu).
    p
      | J&apos;ai aussi d&eacute;ploy&eacute; des changements mineur d&eacute;di&eacute;s principalement &agrave; faciliter l&apos;exp&eacute;rience des nouveaux utilisateurs.
    p Bonne journ&eacute;e&nbsp;
    p Renan
    p
      br
    p
      br
    p
      br
