h1 Video : connecter votre compte gmail à cyberlégume
.intro Une explication détaillée d'un aspect de cyberlégume
html
  body
    p
      | Pour faciliter l&apos;adoption du produit, je compte cr&eacute;er une page de tutoriels vid&eacute;os, ou j&apos;explique le fonctionnement de cyber en d&eacute;tail en commentant ce qu&apos;il y a &agrave; l&apos;&eacute;cran.
    p
      | Pour l&apos;instant je n&apos;ai qu&apos;une vid&eacute;o, donc je ne vais pas encore cr&eacute;er une page d&eacute;di&eacute;e, mais je peux vous l&apos;annoncer sur ce blog :)
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(src='https://www.youtube.com/embed/g3zCV0aMOsw?wmode=opaque', allowfullscreen='', width='640', height='360', frameborder='0')
      br
