h1 Nouvelle page d'invitation de clients
.intro Et corrections de quelques bugs
html
  body
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(width='640', height='360', src='https://www.youtube.com/embed/q7ip0KdF93w?wmode=opaque', frameborder='0', allowfullscreen='')
      | En r&eacute;sumer :
    ul
      li La disposition des tickets de caisse est r&eacute;par&eacute;e
      li
        | Dans vos r&eacute;glages, vous trouverez une adresse web. Elle ouvre un formulaire (publique) qui permet de devenir client.
      li Le bouton &quot;valider les factures&quot; est de retour dans l&apos;onglet &quot;paiements&quot;
      li La suppression d&apos;un rdv avec des commandes est maintenant bloqu&eacute;e
      li L&apos;effet de &quot;hover&quot; des titres est plus discret
