h1 Plus de details quand le bon de commande plante
.intro Suite aux retours concernants des plantons lors de la prise de commande
html
  body
    p
      | Certains mara&icirc;chers m&apos;ont fait part de retours de leurs clients, concernant un plantage du bon de commande. Ca n&apos;a pas l&apos;air d&apos;&ecirc;tre un probl&egrave;me g&eacute;n&eacute;ralis&eacute;, mais j&apos;avais assez presque aucune information quand &ccedil;a arrivait.
    p
      | L&apos;appli produit maintenant des rapports d&apos;erreur plus utiles en cas de plantage lors de la prise de commande, et je serais averti imm&eacute;diatement par un mail automatique. J&apos;ai ajout les informations &agrave; l&apos;&eacute;cran pour les utilisateurs, histoire de simplifier les rapports de bug.
    p
      img.fr-dib.fr-fil(src='/blog/imgs/6707a2f1598b7058d59ac9c721856f0863e0eaf1.jpg')
