h1 Nouveau concept pour l'expérience de vos clients
.intro Je souhaite simplifier la prise de commande pour règler certains problèmes existants
html
  body
    p
      | Voila un brouillon de ce &agrave; quoi pourrait ressembler l&apos;exp&eacute;rience d&apos;un client qui passe commande. L&apos;id&eacute;e est de s&eacute;parer le formulaire en plusieurs pages pour avoir plus de contr&ocirc;le et uniquement afficher ce qui est pertinent. Cliquez sur l&apos;image pour la voir en grand
    p
      a(href='/blog/imgs/84a85ba3c29b348f56103c2fc73ea11f66d682ee.png')
        img.fr-fil.fr-dib(src='/blog/imgs/84a85ba3c29b348f56103c2fc73ea11f66d682ee.png')
