h1 Fermeture des inscriptions
.intro Assurer le support de nouveaux clients depuis la russie s'avère trop compliqué
html
  body
    p
      | J&apos;ai eu quelques inscriptions suite au covid, mais g&eacute;rer l&apos;arriv&eacute;e de nouveaux utilisateurs depuis la Russie s&apos;av&egrave;re compliqu&eacute;, donc pour l&apos;instant le syst&egrave;me n&apos;accepte plus de nouveaux utilisateurs.
    p
      | Je souhaite me concentrer sur les probl&egrave;mes &eacute;pineux de connexion &agrave; gmail &agrave; la place.
    p
      | J&apos;invite les mara&icirc;chers en recherche de solution &agrave; se tourner vers 
      a(href='https://www.cagette.net/') cagette.net
      | , qui ont ouvert leurs portes &agrave; tout les professionnels avec une formation acc&eacute;l&eacute;r&eacute;e &agrave; distance uniquement.
