h1 Paiement en ligne ? 
.intro A quel point serait-ce intéressant pour vous de pouvoir encaisser vos clients en ligne ? 
html
  body
    p
      | Les changements ont &eacute;t&eacute; d&eacute;ploy&eacute;s comme pr&eacute;vu, n&apos;h&eacute;sitez pas &agrave; m&apos;&eacute;crire par email ou WhatsApp si vous constatez quelque chose d&rsquo;&eacute;trange dans l&apos;appli.
    p
      | Emmanuel de La Ferme Saint-Ursin souhaiterait mettre en place un 
      strong module de paiement en ligne
      |  (Sumup) sur son bon de commande. C&apos;est un projet un peu compliqu&eacute; pour moi, donc j&apos;h&eacute;site entre le faire maintenant ou bien au printemps prochain (l&apos;hiver &eacute;tant d&eacute;di&eacute; &agrave; l&apos;acquisition de nouveaux mara&icirc;chers).
    p
      | L&apos;avantage du paiement en ligne &agrave; l&apos;avance est que les clients on moins de chance d&apos;oublier de passer chercher un panier d&eacute;j&agrave; pay&eacute;. C&apos;est aussi id&eacute;al pour la livraison &agrave; domicile, car vous pouvez d&eacute;poser le panier sans que le client soit pr&eacute;sent, puisqu&apos;il a d&eacute;j&agrave; &eacute;t&eacute; pay&eacute;.
    p
      | L&apos;option de paiement en ligne serait propos&eacute;e en 
      strong suppl&eacute;ment
      | , pour 
      strong 10&euro;/mois
      | . A cela s&rsquo;ajouteront les frais bancaires pr&eacute;lev&eacute;s par Sumup, qui sont de 3.25% du total + 0.13&euro;. Si 
      strong 3 mara&icirc;chers ou plus sont int&eacute;ress&eacute;s&nbsp;
      | par ce syst&egrave;me, je vais mettre &ccedil;a en haute priorit&eacute;. Donc si une int&eacute;gration avec le syst&egrave;me de paiement Sumup (ou un autre syst&egrave;me) vous int&eacute;resse, n&apos;h&eacute;sitez pas &agrave; m&apos;&eacute;crire &agrave; ce sujet.
    p
      br
