h2 Nouveau téléphone pour l'envoi de SMS cyberlégume
.intro Ne soyez pas surpris si le numéro qui vous envoie les notifications change de temps en temps
html
  body
    p
      | J&apos;ai actuellement deux t&eacute;l&eacute;phones qui s&apos;occupent d&apos;envoyer les sms pour Cyberl&eacute;gume, pour &eacute;viter d&apos;avoir &agrave; utiliser des 
      a(href='https://cyberlegu.me/blog/2019-05-24.html') services de SMS pro hors de prix
    p
      | Un se situe chez moi en Allemagne, et l&apos;autre est maintenant gentiment h&eacute;berg&eacute; par mon fr&egrave;re en France.
    p
      | Puisque celui chez mon fr&egrave;re est op&eacute;rationnel, celui qui est chez moi peut partir en balade et aller s&apos;installer dans un autre domicile en France.
    p
      | Tout &ccedil;a pour pr&eacute;parer mon d&eacute;part en Russie (d&rsquo;o&ugrave; l&apos;envoi de sms vers la France serait impossible)
    p
      br
