h1 Aidez ciboulette à se développer
.intro C'est la saison du marketing pour ciboulette
html
  body
    p Hello
    p
      | Ces mois ci, ma premi&egrave;re priorit&eacute; c&apos;est de 
      strong faire conna&icirc;tre ciboulette
      |  aupr&egrave;s des mara&icirc;chers qui en ont besoin. La communication &nbsp;c&apos;est pas vraiment mon truc, mais quand faut y aller faut y aller. Plus il y a de mara&icirc;chers inscrits, plus le logiciel verra d&apos;am&eacute;liorations, gr&acirc;ce &agrave; un meilleur financement et plus de bonnes id&eacute;es venant des nouveaux mara&icirc;chers.
    p Dans ce but, je travail sur diff&eacute;rents aspects du marketing du produit.
    ul
      li Un d&eacute;but de flyer
      li
        | Une 
        a(href='https://www.youtube.com/watch?v=_OlmWVdxW3I') vid&eacute;o de pr&eacute;sentation
        | , mais elle est un peu &quot;molle&quot;, je vais essayer de faire un truc plus jovial
      li
        | Une 
        a(href='https://www.facebook.com/ciboulette.net') page facebook
        |  avec les infos basiques
      li
        | Un 
        a(href='https://www.google.com/maps/place/ciboulette.net/@48.2551388,-2.0582496,15z/data=!4m2!3m1!1s0x0:0x2b440a81897caa99?sa=X&ved=2ahUKEwjxmu2Ei8TuAhWMEWMBHU7sDEAQ_BIwDXoECBcQBQ') listing google maps
        |  pour montrer ou se situe mon adresse principale (en Bretagne).
      li
        | Une 
        a(href='https://fr.trustpilot.com/review/ciboulette.net') page trustpilot
        |  pour que vous puissiez
        strong &nbsp;donner votre avis sur l&apos;application
    p
      | J&apos;ai aussi fait le m&eacute;nage sur le 
      a(href='https://trello.com/b/GaZSJzzq/planning-de-d%C3%A9veloppement-de-ciboulettenet') planning de d&eacute;veloppement
      | , vous devriez pouvoir plus facilement m&apos;indiquer ce qui vous semble utile.
    p
      | Si vous pouviez parler de votre exp&eacute;rience avec 
      a(href='//ciboulette.net') ciboulette.net
      |  &agrave; vos coll&egrave;gues, sur facebook, et surtout sur la 
      a(href='https://fr.trustpilot.com/review/ciboulette.net') page truspilot
      | , &ccedil;a m&apos;aiderais bien !
    p Bonne journ&eacute;e
    p
      br
