h1 Nouvelle fonction : modification de clients en masse
.intro Une petite fonction implémentée sur demande d'un maraîcher
html
  body
    p Hello
    p
      | On m&apos;a demand&eacute; comment activer les commandes multiples pour toute la base client, et il n&apos;y avait pas vraiment de fonction pour &ccedil;a.
    p Donc je l&apos;ai impl&eacute;ment&eacute; rapidement, d&eacute;monstration en vid&eacute;o ci-dessous.
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(src='https://www.youtube.com/embed/9_2mpEGCJwI?wmode=opaque', allowfullscreen='', width='640', height='360', frameborder='0')
      br
    p
      | L&apos;installation du nouveau serveur de SMS est en cours, &ccedil;a risque d&apos;&ecirc;tre un peu compliqu&eacute; mais j&apos;ai bon espoir que &ccedil;a fonctionne d&apos;ici une semaine ou deux.
