h1 Recettes automatiques, frais de livraison
.intro Et plein de petites corrections
html
  body
    p Changements importants :&nbsp;
    ul
      li Ajout de recettes en un clic (onglet invitation)
      li Frais de livraison (d&eacute;finir dans l&apos;&eacute;diteur de RDV).
      li
        | Quand un client commande, son RDV est sauvegard&eacute;, et il sera choisi d&apos;office la semaine prochaine
      li
        | Le rendez-vous est maintenant mis en &eacute;vidence dans le titre du bon de commande (pour &eacute;viter de commander au mauvais RDV par erreur).
    p Changements mineurs :&nbsp;
    ul
      li
        | Les &eacute;tapes de la semaine ou on ne peut rien faire sont gris&eacute;es dans la barre lat&eacute;rale
      li Le s&eacute;lecteur de RDVs ne grise plus le dernier rdv s&eacute;lectionn&eacute;
      li
        | &Eacute;cran &quot;produits&quot;&nbsp;
        ul
          li la liste et le tableau sont maintenant optimis&eacute;s pour l&apos;impression
          li ajout d&apos;un petit bouton &quot;imprimer&quot;
      li
        | &Eacute;diteur de RDVs
        ul
          li r&eacute;organisation des onglets
      li
        | Page &quot;mon compte&quot; (pour les clients)
        ul
          li
            | la case &quot;activer les SMS de rappel&quot; est masqu&eacute;e si les rappels sont de toute fa&ccedil;on&nbsp; d&eacute;sactiv&eacute;es par le mara&icirc;cher
          li les commandes vides et bloqu&eacute;es ne sont plus list&eacute;es dans l&apos;historique.
    p
      br
    p
      br
