h1 Changements déployés
.intro Nouvelle interface pour vos clients, page stocks, nouvel éditeur de textes ..
html
  body
    p
      | Je viens de d&eacute;ployer les changements annonc&eacute;s pr&eacute;c&eacute;demment et quelques correctifs additionnels.
    p
      | J&apos;ai touch&eacute; &agrave; beaucoup de choses dans cette mise &agrave; jours, donc j&apos;imagine qu&apos;un ou deux bugs ont &eacute;t&eacute;s introduits, je suis disponible ce week-end pour les r&eacute;gler au plus vite.
    p
      | J&apos;en ai d&eacute;j&agrave; trouv&eacute; 
      a(href='https://trello.com/c/S5wGemFv/320-bugs-derni%C3%A8re-release', rel='noopener noreferrer', target='_blank') deux ou trois
      |  que je me d&eacute;p&ecirc;che de corriger.
    p Ci dessous quelques captures d&apos;&eacute;crans
    p(style='text-align: center;')
      img.fr-dib(src='/blog/imgs/cbc5bbc9d4d2f724bb908f2d79d3fb6701e811c5.jpg')
    p(style='text-align: center;') Exp&eacute;rience client simplifi&eacute;e
    p
      br
    p
      img.fr-dib(src='/blog/imgs/cb3607830a864c570dd53dc29a30072e9aa23927.jpg', style='width: 888px;')
    p(style='text-align: center;') Nouveau tableau de stocks
    p(style='text-align: center;')
      br
    p(style='text-align: center;')
      img.fr-dib(src='/blog/imgs/2e3d03377660b373994d7484a73110c2b4963d6b.jpg', style='width: 963px;')
    p(style='text-align: center;') Connexion de ciboulette &agrave; votre RaspiSMS
    p(style='text-align: center;')
      br
    p(style='text-align: center;')
      img.fr-dib.fr-fil(src='/blog/imgs/633dab45e753f28de60f436d40f780d744b9f17b.jpg', style='width: 757px;')
    p(style='text-align: center;') Nouvel &eacute;diteur avec insertion d&rsquo;&eacute;moji
    p(style='text-align: center;')
      br
    p
      br
