h1 Corrections de petits bugs
.intro J'essaie de déployer plus souvent
html
  body
    p Hello,
    p
      | Je viens de faire un tout petit d&eacute;ploiement, avec quelques corrections minimes. Je d&eacute;m&eacute;nage demain pour l&apos;Allemagne donc je pr&eacute;f&egrave;re ne pas attaquer de gros changements.
    p (je serais toujours joignable comme si j&apos;&eacute;tais en France)&nbsp;
    p Les corrections d&eacute;ploy&eacute;es aujourd&apos;hui :
    ul
      li
        | Il y avait un bug dans les param&egrave;tres client qui emp&ecirc;chait vos clients de d&eacute;cocher des cases. C&apos;est emb&ecirc;tant parce qu&apos;il faut d&eacute;cocher une case pour se d&eacute;sabonner. C&apos;est r&eacute;gl&eacute;.
      li
        | J&apos;ai essay&eacute; de rendre plus claires les explications affich&eacute; &agrave; cot&eacute; des &quot;news de la semaine&quot;. D&eacute;sactiver la d&eacute;sinscription automatique devrait &ecirc;tre plus facile.
      li
        | J&apos;ai chang&eacute; le nom de l&apos;action principale de la page de confirmation de RDV pour vos clients (&eacute;tape avant de choisir ses produits).
        br
        | C&apos;est pass&eacute; de quelque chose comme &quot;confirmer le RDV&quot; &agrave; &quot;continuer&quot;, certains clients &eacute;taient confus par l&apos;ancien label.
      li
        | Le formulaire d&apos;inscription (accessible dans 
        a(href='https://app.ciboulette.net/settingsPage/invite') param&egrave;tres/formulaire
        | ) a maintenant des messages d&apos;erreurs plus utiles quand le lien est mauvais/p&eacute;rim&eacute;.
      li
        | Je sauvegardais beaucoup trop de donn&eacute;es dans l&apos;
        a(href='https://app.ciboulette.net/settingsPage/gmail') historique des e-mails envoy&eacute;s
        | . J&apos;ai fait le m&eacute;nage, et je me suis aussi assur&eacute; que consulter un mail dans cet historique ne le marquerait pas comme &quot;vu&quot; par le client.
    p
      | Je vais prendre le dispositif d&apos;envoi de SMS avec moi en Allemagne pour le roder (j&apos;apprends &agrave; m&apos;en servir et &agrave; le configurer). En attendant les envois de SMS en masse resteront plut&ocirc;t lents (1 / seconde tout mara&icirc;chers confondus, &agrave; peu pr&egrave;s). Une fois qu&apos;il sera op&eacute;rationnel, je pourrais normalement augmenter largement la cadence. Le dispositif est en photo ci-dessous. Il peut accepter jusque 8 cartes SIM et envoyer des SMS sans rechigner. H&acirc;te de le mettre au boulot.
    p
      img.fr-fil.fr-dib(src='/blog/imgs/c820208950f173bc358ade7d91c8e848b6f13a89.jpg', style='width: 611px;')
    p
      br
