h1 Déployé : plusieurs commandes par client
.intro Après presque un mois de développement
html
  body
    p
      strong MAJ
      |  : 2 bugs ont d&eacute;j&agrave; &eacute;t&eacute; corrig&eacute;s suite au d&eacute;ploiement (le lien de d&eacute;sinscription des anciens emails ne marchait pas, et les commandes pour un RDV avec un minimum de commande plantaient) 
      br
      br
      | Je viens de d&eacute;ployer la nouvelle version, annonc&eacute;e samedi dernier.
    p
      | La liste de changements est assez longue, mais voici un r&eacute;sumer des changements principaux :
    ul
      li
        | Dans l&apos;&eacute;diteur de clients, vous pouvez autoriser un client &agrave; 
        strong commander plusieurs fois par semaine.
      li
        | Dans l&apos;&eacute;diteur de produits, vous pouvez marquer un produit comme bio (affichera le 
        strong logo bio&nbsp;
        | europ&eacute;en &agrave; c&ocirc;t&eacute; de l&apos;image produit).
      li
        | Vous pouvez faire un clic droit sur les en-t&ecirc;tes de tableau pour 
        strong afficher/masquer certaines colonnes.
      li
        | Beaucoup d&apos;&eacute;crans proposent maintenant de 
        strong filtrer les donn&eacute;es
        |  (titre de la page avec une ic&ocirc;ne de loupe)
      li L&apos;&quot;admin client&quot; est devenue une simple &eacute;tape de la semaine.
      li
        | Retrait de la page d&apos;accueil (l&apos;appli s&apos;ouvre sur la semaine en cours) et de l&apos;admin client.
      li
        | Diff&eacute;rentes options propos&eacute;es (paniers, stocks, produit par RDV, suivi des paiements) sont maintenant d&eacute;sactiv&eacute;es par d&eacute;faut pour les nouveaux mara&icirc;chers.
      li
        | Un panneau d&eacute;di&eacute; permet d&apos;activer ces options (cliquer sur l&rsquo;ic&ocirc;ne d&apos;engrenages dans la barre lat&eacute;rale).
      li
        | Les anciens clients (d&eacute;sinscrits) sont list&eacute;s dans la page &quot;
        strong Anciens clients
        | &quot; des param&egrave;tres.
      li
        | L&apos;&eacute;dition des textes sp&eacute;ciaux (pour les nouveaux clients, SMS, d&eacute;sinscriptions .. ) est propos&eacute;e directement dans l&apos;onglet &quot;invitation&quot;
      li La connexion &agrave; gmail est propos&eacute;e directement dans l&apos;onglet &quot;invitation&quot;
      li
        | Le glisser/d&eacute;poser des produits dans la page produit pour les r&eacute;ordonner devrait mieux fonctionner.
      li Correction d&apos;un bug concernant la disposition automatique des tickets de caisses
      li
        | Les commandes ont maintenant un 
        strong num&eacute;ro de commande
        |  qui est incr&eacute;ment&eacute; &agrave; chaque commande. Les clients le voient aussi. Ca devrait aider en cas de confusions, surtout s&apos;il y a plusieurs commandes par semaines pour le m&ecirc;me client.
      li
        | Correction d&apos;un bug concernant l&apos;impression de r&eacute;cap de cueillette sous Chrome sur Android
    p
      | Si vous d&eacute;couvrez des bugs ou probl&egrave;mes, je suis joignable par t&eacute;l&eacute;phone (+33628350114 , de pr&eacute;f&eacute;rence messages WhatsApp) ou email (renan.lecaro@gmail.com).
    p
      strong
        | N&apos;h&eacute;sitez pas &agrave; m&apos;&eacute;crire si quelque chose vous semble bizarre avec cette nouvelle version
      | . J&apos;ai des tests automatis&eacute;s pour &eacute;viter les bugs les plus g&ecirc;nants, mais difficile de tout tester dans les moindres d&eacute;tails. Je compte un peu sur vous pour me signaler les probl&egrave;mes que vous voyez.
    p
      | Je compte passer les prochains jours &agrave; r&eacute;gler les &eacute;ventuels probl&egrave;mes introduits par cette version, et ensuite attaquer le chantier suivant : rendre l&apos;envoi de SMS plus fiable.
    p Bonne journ&eacute;e,
    p Renan
