h1 Masquer des produits pour certains RDVs
.intro Une nouvelle fonction + des détails
html
  body
    p Hello
    p
      | Vous pouvez maintenant masquer certain produits pour certains rendez-vous, l&apos;option est dans le nouvel onglet &quot;produits&quot; de l&apos;&eacute;diteur de rendez-vous.
    p J&apos;ai aussi en &nbsp;m&ecirc;me temps d&eacute;ploy&eacute; quelques changements :&nbsp;
    ul
      li
        | Nouveau look pour le formulaire de commande : les commentaires de produits ne sont plus format&eacute;s (gras, retour &agrave; la ligne, etc...), et ils sont affich&eacute;s en permanence (au lieu de le faire au passage de la souris).
      li La TVA pour la Belgique est un peu mieux g&eacute;r&eacute;e
      li
        | J&apos;ai un outil (pour moi seulement) pour supprimer les semaines &quot;copi&eacute;es en trop&quot; pour le cas ou un utilisateur copie trop de semaine d&apos;avance.
      li
        | J&apos;ai ajout&eacute; des statistiques sur le site marketing avec 
        a(href='https://plausible.io/', rel='noopener noreferrer', target='_blank') plausible.io
        | , j&apos;aime bien leur approche, ils collectent tellement peu d&apos;infos qu&apos;une banni&egrave;re pour les cookies n&apos;est toujours pas n&eacute;cessaire.
    p
      | C&apos;est tout pour aujourd&apos;hui, n&apos;h&eacute;sitez pas &agrave;
      strong &nbsp;parler du logiciel &agrave; vos coll&egrave;gues
      | , c&apos;est la saison : ) Je pr&eacute;pare des flyers, une vid&eacute;o de pr&eacute;sentation, et je fais un peu de calling, mais le top serait que vous parliez du logiciel aux gens que vous connaissez, et/ou sur les groupes Facebook de mara&icirc;chers que vous fr&eacute;quentez.
    p Bonne journ&eacute;e
