h1 Trois petits correctifs
.intro Et un ralentissement du dévelopement
html
  body
    p Hello
    p La semaine derni&egrave;re j&apos;ai d&eacute;ploy&eacute; le nouveau r&eacute;capitulatif de pr&eacute;paration.
    p AUjourd&apos;hui, j&apos;ai d&eacute;ploy&eacute; 3 petits correctifs :
    ul
      li Le RDV s&eacute;lectionn&eacute; est imprim&eacute; dans le r&eacute;capitulatif de pr&eacute;paration
      li
        | Une invitation n&apos;est en mode &quot;brouillon&quot; que s&apos;il y a des produits et un RDV choisi
      li
        | Les virgules (au lieu du point) devraient mieux fonctionner dans les onglets stocks/pr&eacute;paration/paiements
    p
      | D&apos;autre part, j&apos;ai beaucoup forc&eacute; depuis 12 mois, en particulier sur le d&eacute;veloppement de nouvelles fonctions. Je vais ralentir la cadence des nouveaux d&eacute;veloppements et essayer de peaufiner ce que j&apos;ai d&eacute;j&agrave; au lieu de tout changer tout le temps. &Ccedil;a veut dire que les fonctions &agrave; venir vont prendre plus longtemps, mais aussi que l&apos;appli devrait devenir plus fiable.
    p
      | Mon prochain objectif reste d&apos;am&eacute;liorer le syst&egrave;me de SMS pour pouvoir envoyer des SMS en masse, mais c&apos;est un probl&egrave;me &eacute;pineux.
    p Bonne semaine
