h1 Evitez les images dans les mails pour l'instant
.intro Ca a l'air de pas pair aux filtres anti spam
html
  body
    p Hello,
    p
      | Aujourd&apos;hui j&apos;ai re&ccedil;u deux messages de mara&icirc;chers comme quoi 
      strong les emails n&apos;arrivaient pas chez leurs clients
      | .
    p Je suis en plein d&eacute;m&eacute;nagement, donc &ccedil;a tombe un peu mal.&nbsp;
    p Le probl&egrave;me &agrave; l&apos;air d&apos;&ecirc;tre la mani&egrave;re dont les images sont envoy&eacute;es
    p
      | Je vous recommande donc de ne 
      strong pas mettre d&apos;images dans les emails
      |  jusqu&apos;&agrave; ce que j&apos;aie chang&eacute; ce syst&egrave;me.
    p
      | D&apos;ici une semaine &ccedil;a devrait &ecirc;tre r&eacute;solu, mais en attendant merci de ne 
      strong pas mettre d&apos;images dans le champ &quot;nouvelles de la semaine&quot; et &quot;recettes&quot;.
    p
      | Si vous ins&eacute;rez une recette en un clic, il suffit de cliquer l&apos;image et de la supprimer.
    p
      | D&eacute;sol&eacute; du d&eacute;rangement, je suis en train de coder une solution, mais &ccedil;a va prendre quelques jours : 
      a(href='https://trello.com/c/BgH5Gf8N/393-remplacer-imgur-par-un-digital-ocean-space') https://trello.com/c/BgH5Gf8N/393-remplacer-imgur-par-un-digital-ocean-space
    p
      br
