h1 Prix aux 100g, faq sur le site
.intro Un affichage plus doux pour les produits à 9+ euros / kg
html
  body
    p Hello
    p
      | Je viens de d&eacute;ployer un changement, les prix au dessus de 9&euro;/kg sont maintenant affich&eacute;s en mode &euro;/ 100g
    p
      | Ils ont aussi plus d&apos;options (5g, 10g, 15g, 20g, 30g .. ), les paliers sont progressivement plus larges.
    p
      | J&apos;ai ajout&eacute; une FAQ sur le site, si j&apos;ai zap&eacute; une question que vous aviez lors de votre d&eacute;couverte du produit, envoyez la moi !
    p Bonne journ&eacute;e
    p
      br
