h1 Compatibilité iphone, bugfixes
.intro Petites correction après  la dernière grosse mise à jour
html
  body
    p Bonsoir &agrave; tous
    p Je viens de d&eacute;ployer quelques petites corrections :
    ul
      li
        | Meilleur affichage de l&apos;interface mara&icirc;cher sur 
        strong iPhone
      li
        | Le syst&egrave;me de SMS s&apos;enverra maintenant r&eacute;guli&egrave;rement des SMS &agrave; lui m&ecirc;me, et v&eacute;rifiera qu&apos;ils sont bien re&ccedil;us dans les minutes qui suivent (pour avoir une id&eacute;e de sa fiabilit&eacute;).
      li J&apos;ai r&eacute;gl&eacute; quelques nouvelles erreurs et crash isol&eacute;s dus au dernier changement
    p
      | Sinon l&apos;installation d&apos;un meilleur syst&egrave;me de SMS avance bien, je vais l&apos;installer chez mon fr&egrave;re qui va l&apos;h&eacute;berger au Mans. Une fois rod&eacute;, &ccedil;a devrait me permettre de faire des 
      strong envois de SMS
      |  plus rapidement et avec un suivi 
      strong plus fiable
      | . Toujours &agrave; un prix largement inf&eacute;rieur aux tarifs &quot;pros&quot;, ce qui me permet d&apos;inclure ce service dans l&apos;abonnement.
    p
      | Ah, et j&apos;ai post&eacute; un message dans le 
      strong groupe Facebook
      |  
      a(href='https://www.facebook.com/groups/342965309987225') Mara&icirc;chage Biologique (Trad/Intensif)
      |  qui a permis de faire connaitre l&apos;appli a pas mal de monde, 
      strong bienvenu aux nouveaux
      |  ! C&apos;est un groupe d&apos;entraide entre mara&icirc;chers qui est vraiment bien administr&eacute; (pratiquement pas de pubs et autres spams). &nbsp;Je vous conseille de le rejoindre si vous &ecirc;tes en bio et avez Facebook.
    p Bonne soir&eacute;e
    p Renan
    p
      | Ci-dessous, quelques captures d&apos;&eacute;cran de la &nbsp;nouvelle version sur iPhone 7 / Safari
    p
      img.fr-fil.fr-dii(src='/blog/imgs/6d63260dce1620300fcb47a6310bf941654511c0.png', style='width: 334px;')
      img.fr-fil.fr-dii(src='/blog/imgs/a261350f2bda1e0727b0de8e3bc2939ae3219bd3.png', style='width: 328px;')
      img.fr-fil.fr-dii(src='/blog/imgs/1bb3705c5722375d81dae119d85634d5c182f749.png', style='width: 334px;')
    p
      br
