h1 Retrait de la fonction "clients VIP"  ?
.intro Est ce que ça vous va si je la remplace par un envoi personne / personne ?
html
  body
    p Hello
    p
      | J&apos;avance bien sur le 
      a(href='https://trello.com/c/NBKXrAXl/107-autoriser-plusieurs-commandes-par-client') gros chantier
      |  de permettre plusieurs commandes par client par semaine.
    p
      | Une des difficult&eacute; est de g&eacute;rer l&apos;option &quot;client VIP&quot;. Est ce que je peux la retirer ? C&apos;&eacute;tait surtout utile pendant le rush de nouveaux clients du premier confinement.
    p
      | En m&ecirc;me temps que le retrait de cette fonction serait introduit la 
      strong possibilit&eacute; d&apos;envoyer l&apos;invitation de n&apos;importe quel client manuellement
      | , en un clic, depuis la liste de clients. Donc au pire, c&apos;est faisable de faire le mailing des VIPs &agrave; l&apos;avance, juste un peu moins pratique. J&apos;aimerais aussi permettre d&apos;envoyer l&apos;invitation pour un RDV, puis pour un autre, sans avoir &agrave; activer/d&eacute;sactiver les RDVs en question
    p
      | Si vous souhaitez que la fonction VIP reste, faites le moi savoir rapidement par email ( 
      a(href='mailto:renan.lecaro@gmail.com') renan.lecaro@gmail.com
      |  )
    p Bonne journ&eacute;e
