h1 Nouvelle option : réserver les stocks d'un panier
.intro Evitez qu'un panier soit bloqué par manque d'ingrédients
html
  body
    p Hello
    p
      | Petit d&eacute;ploiement aujourd&apos;hui d&apos;un correctif de bug (les 4 mara&icirc;chers concern&eacute;s ont &eacute;t&eacute; contact&eacute;s par e-mail) et d&apos;une nouvelle fonction.
    p
      | L&apos;id&eacute;e de la r&eacute;servation de stock pour les paniers, c&apos;est d&apos;&eacute;viter qu&apos;un client commande au d&eacute;tail l&apos;ensemble des ingr&eacute;dients d&apos;un panier, et bloque alors la vente de ce panier.
    p J&rsquo;esp&egrave;re que &ccedil;a vous sera utile .
    p Bonne journ&eacute;e
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(src='https://www.youtube.com/embed/V-c6bDWitCU?wmode=opaque', allowfullscreen='', width='640', height='360', frameborder='0')
    p
      br
    p
      br
