h1 Changements à venir
.intro J'ai fait un changement de fond (possibilité d'avoir plusieurs commandes par client par semaine) et beaucoup de changements de forme, c'est pas encore prêt mais voici un petit avant gout. 
html
  body
    p
      | Hello
      br
      br
      | J&apos;ai travaill&eacute; les 3 derni&egrave;res semaines sur un sujet &eacute;pineux : permettre plusieurs commandes par semaine par client
      br
      br
      | &Ccedil;a m&apos;a oblig&eacute; &agrave; r&eacute;&eacute;crire pas mal de code essentiel, donc je devais tout re-tester avant de d&eacute;ployer pour v&eacute;rifier que le changement n&apos;introduirait pas de bugs trop graves (il y aura forc&eacute;ment des petits bugs, mais j&rsquo;esp&egrave;re qu&apos;il ne seront ni nombreux ni trop critiques).
      br
      br
      | Quitte &agrave; devoir tout retester, j&apos;en ai profit&eacute; pour faire quelques changements suppl&eacute;mentaires.
      br
      | &nbsp;
      br
      | Vous pouvez tester la prochaine version en vous rendant sur https://staging.ciboulette.net/
      br
      br
      | Cette version sp&eacute;ciale de l&apos;application est uniquement pour les tests, elle a les m&ecirc;me donn&eacute;s que la &quot;production&quot; ( https://app.ciboulette.net/ ) mais n&rsquo;envoie aucun e-mail / SMS / notification, donc vous pouvez tester sans risque les &eacute;volutions &agrave; venir.
      br
      br
      | N&apos;h&eacute;sitez pas &agrave; me faire part de vos impressions sur cette nouvelle version. Si certains aspects s&apos;av&egrave;rent probl&eacute;matiques, je m&apos;assurerais de les r&eacute;gler avant de d&eacute;ployer.
      br
      br
      | Pour les nouveaux qui nous ont rejoint r&eacute;cemment, les &eacute;volutions &nbsp;de l&apos;appli sont organis&eacute;es et discut&eacute;es sur cette page : https://trello.com/b/GaZSJzzq/planning-de-d%C3%A9veloppement-de-ciboulettenet
    p
      span.fr-video.fr-fvc.fr-dvb.fr-draggable(contenteditable='false', draggable='true')
        iframe(src='https://www.youtube.com/embed/ozRfK1ylLFQ?wmode=opaque', allowfullscreen='', width='640', height='360', frameborder='0')
      br
