include ../mixins
+page('Blog ciboulette.net',' Dernières nouveautés dans ciboulette.net')
  .grid
    each blogItem in entries
      .grid-item
        h3=blogItem.title 
        p=blogItem.intro
        
        a(href="/blog/"+blogItem.date+".html") Lire l'article
        .detail=blogItem.date
        
