include ../mixins
+page('Blog ciboulette.net',' Dernières nouveautés dans ciboulette.net')
  .grid
    each blogItem in entries
      .grid-item
        h3=blogItem.title 
        p=blogItem.intro
        
        p.blog-link-and-date
          a(href="/blog/"+blogItem.date+".html") Lire l'article
          span=blogItem.date
        
