

#topButtons
    a(href="#").AppName Cyberlégume
    .ShortCuts
        a(href="#Fonctionnement") Fonctionnement
        a(href="#Avantages") Avantages
        a(href="#Fonctions") Fonctions avancées
        a(href="#Tarif") Tarif
        a(href="#Contact") A propos            
    .right
        a(href="https://app.cyberlegu.me/").login Déja un compte
        a(href="https://app.cyberlegu.me/").signup Essayer gratuitement

.greyBackground#firstSlide
    h1.main Cyberlégume
    h2.sub Vendez vos légumes sur commande
    .ctas
        a(href="https://app.cyberlegu.me/").login Déja un compte
        a(href="https://app.cyberlegu.me/").signup Essayer gratuitement

.imageAndCaption
    .img: img(src="./img/250/path5186.png")
    div
        h3 Vendre des légumes sur commande, c'est compliqué
        p Il faut indiquer à vos clients ce que vous avez à vendre cette semaine, recevoir leurs commandes par différents moyens (emails, appels, sms, de vive voix ..) et préparer leur paniers. Si vous avez plusieurs lieux de livraison, ça se complique encore, surtout si vous clients alternent entre plusieurs lieux de livraison.

.imageAndCaption
    .img: img(src="./img/250/g5219.png")
    div
        h3 Cyberlégume vous aide à vendre mieux
        p Cyberlégume présente chaque semaine vos produits en vente. Il enregistre les commandes automatiquement. Il vous donne un coup de pouce pour préparer vos paniers, avec des documents prêts à imprimer. Oubliez les heures passées sur excel, word, au téléphone .. 

.imageAndCaption
    .img: img(src="./img/250/path5154.png")
    div
        h3 Un simple outil, pas un intermédiaire
        p Vous  gèrez vous-même la livraison des produits et la réception des paiements. L'application est proposée à un tarif unique : {price}€/mois. Ce tarif nous permet de payer les frais de fonctionnement, le système d'envoi de SMS de rappel, et de financer les différentes évolutions dont bénéficie le site.



.imageAndCaption
    .img: img(src="./img/250/functionsLimitErrors-4.png")
    div
        h3 Evitez les erreurs
        p  Les clients entrent directement les quantités qu'ils veulent dans le formulaire.  L'interface et les documents imprimables sont fait pour éviter toutes les erreurs classique. Par exemple, dans une facture, si un produit vendu à la pièce (laitue, botte de radis) est demandé à plus d'un exemplaire, cette différence est mis en avant. Vous évitez aussi toutes les erreur de saisie quand il faut reporter une valeur d'un document à l'autre, puisque tout est fait automatiquement.



.imageAndCaption
    .img: img(src="./img/250/functionsSMSNotification-4.png")
    div
        h3 Notifications SMS
        p Allez au champ avec votre téléphone portable, et vous serez alerté dès qu'il se passe quelque chose qui requiert votre attention sur CyberLégume.


.greyBackground#Tarif.noMinHeight
    h1.main(style="font-size:732%") Tarif
    h2.sub  TTC / Mois

.imageAndCaption
    .img: img(src="./img/250/tarif.png")
    div
        h3 Un tarif unique au mois 
        p
            | CyberLégume est loué au mois. Le prix est de
            strong  14,90€ TTC par mois
            em (TVA non applicable - article 293 B du CGI).

        p Un mois d'essai vous est offert à l'inscription. A l'issue de ce mois d'essai vous pourrez choisir de continuer ou non votre abonnement. 

        p Le règlement se fait par virement ou chèque.

.greyBackground#Contact.noMinHeight
    h1.main(style="font-size: 328%;") A propos
    h2.sub Un logiciel pensé par un fils de maraicher


.imageAndCaption
    .img: img(src="./img/250/oldvsnew.png")
    div
        h3 Origine : simplifer un système de mails 
        p Le logiciel à été conçu pour résoudre les problèmes de vente d'une maraichère. Elle envoyait par mail un bon de commande hebdomadaire, contenant un fichier word avec la liste des produits. Les clients devaient télécharger, éditer et revoyer ce fichier pour commander. Les fichiers étaient ensuite compilés dans une tableur excel. Cyberlégume à été pensé pour simplifier et automatiser l'ensemble du processus.
    
.imageAndCaption
    .img: img(src="./img/250/oldlook.png")
    div
        h3 Evolution : un affinage sur 3 ans des fonctionnalités du logiciel. 
        p Après une version 1.0 sortie en 2014, le système a été graduellement amélioré. Les leçons apprises ont été re-appliquées à la version 2.0 du système, sorti en janvier 2015. Un autre maraicher nous a alors rejoin, et le système a continué d'être graduellement enrichi pour coller au mieu au besoins du maraichage sur petite surface, qui vendent en direct. 

.imageAndCaption
    .img: img(src="./img/250/me.png")
    div
        h3 Contact 
        p 
            | Vous pouvez contacter directement l'ingénieur derrière ce projet à l'adresse mail suivante : 
            a(href="mailto:renan@cyberlegu.me") renan@cyberlegu.me
            |. Cyberlégume est édité par l'auto-entreprise Renan LE CARO, SIRET :  515 320 331
            
