body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
  font-size: 16px;
}
@media (max-width: 1030px) {
  body {
    padding-top: 60px;
  }
}
* {
  box-sizing: border-box;
}
h1,
h2,
.appName {
  text-transform: none;
  font-weight: normal;
}
.slide {
  border-bottom: 1px solid #eee;
  color: #333;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 18px;
}
.slide .wrapper {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 1030px) {
  .slide .wrapper {
    padding-left: calc(50% + 60px);
    min-height: calc(100vh - 60px * 2 - 100px);
  }
  .slide .wrapper > *:not(.img) {
    max-width: 600px;
    margin-right: auto;
  }
}
.slide .wrapper h1,
.slide .wrapper h2 {
  font-size: 1.5em;
  font-weight: 400;
}
@media (min-width: 1030px) {
  .slide .wrapper h1,
  .slide .wrapper h2 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .slide .wrapper h1,
  .slide .wrapper h2 {
    font-size: 60px;
    margin: 0;
  }
}
.slide .wrapper p {
  line-height: 1.5;
}
.slide .wrapper p,
.slide .wrapper a,
.slide .wrapper h1,
.slide .wrapper h2,
.slide .wrapper li {
  margin-bottom: 30px;
}
@media (max-width: 1030px) {
  .slide .wrapper > * {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.slide .wrapper > .img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide .wrapper > .img[target]:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: url("/svg/play.svg");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  opacity: 0.3;
}
.slide .wrapper > .img[target]:hover:before {
  opacity: 0.5;
  background-color: white;
}
@media (max-width: 1030px) {
  .slide .wrapper > .img {
    width: 80%;
    height: 50vh;
    margin: 20px 10%;
  }
}
@media (min-width: 1030px) {
  .slide .wrapper > .img {
    position: absolute;
    left: 0;
    width: 50% ;
    top: 60px;
    bottom: 60px;
    max-height: 500px;
    margin: auto;
  }
}
.slide .wrapper > .img > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.slide .wrapper > .img > img.upScale {
  width: 100%;
}
.button {
  display: inline-block;
  background: #88aa02;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border: none;
  padding: 1em;
  margin: 0.5em 0;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 0 #678200;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
}
.button:hover,
.button:focus {
  background-color: #749102;
}
.button:active {
  box-shadow: 0 0px 0 #678200;
  transform: translate(0, 2px);
  transition: transform 0.2s, box-shadow 0.2s;
}
.button.outline {
  background: white;
  color: #88aa02;
  border: 2px solid;
  text-shadow: none;
  box-shadow: none;
}
.button.outline:hover,
.button.outline:focus {
  color: #607801;
}
ul.check {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.check li {
  padding-left: 50px;
  margin: 0;
  position: relative;
}
ul.check li:before {
  content: "";
  width: 30px;
  background: url("/svg/check.min.svg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
nav#topMenu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: white;
  background: #f4f4f4;
}
nav#topMenu #toggleMenu {
  position: absolute;
  left: -1030px;
  opacity: 0;
}
nav#topMenu label.toggleMenu {
  display: none;
  position: absolute;
  bottom: -60px;
  right: 0;
  padding: 10px;
  background: #88aa02;
  color: #ffffff;
  margin: 10px;
  text-transform: uppercase;
}
@media (max-width: 1030px) {
  nav#topMenu {
    flex-wrap: wrap;
    flex-direction: column;
    background: none;
  }
  nav#topMenu #toggleMenu ~ a {
    display: none;
    z-index: 1;
  }
  nav#topMenu #toggleMenu:checked ~ a {
    display: block;
  }
  nav#topMenu label.toggleMenu {
    display: block;
  }
  nav#topMenu #toggleMenu:checked ~ .toggleMenu:before {
    content: "";
    display: block;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}
nav#topMenu a {
  text-decoration: none;
  padding: 0 30px;
  line-height: 58px;
  color: #333;
  font-weight: bold;
  box-sizing: border-box;
}
@media (min-width: 1030px) {
  nav#topMenu a {
    min-width: 100px;
    text-align: center;
  }
}
nav#topMenu a:hover,
nav#topMenu a.isCurrentPage {
  background: white;
}
nav#topMenu a.signUp {
  display: inline-block;
  background: #88aa02;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border: none;
  padding: 1em;
  margin: 0.5em 0;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 0 #678200;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
  padding: 0 1em;
  line-height: 38px;
  align-self: center;
  margin: 0 10px;
}
nav#topMenu a.signUp:hover,
nav#topMenu a.signUp:focus {
  background-color: #749102;
}
nav#topMenu a.signUp:active {
  box-shadow: 0 0px 0 #678200;
  transform: translate(0, 2px);
  transition: transform 0.2s, box-shadow 0.2s;
}
nav#topMenu a.signUp.outline {
  background: white;
  color: #88aa02;
  border: 2px solid;
  text-shadow: none;
  box-shadow: none;
}
nav#topMenu a.signUp.outline:hover,
nav#topMenu a.signUp.outline:focus {
  color: #607801;
}
nav#topMenu .grow {
  flex-grow: 1;
}
@media (min-width: 1030px) {
  .slide:first-child {
    padding-top: 68px;
  }
}
.footer {
  padding: 40px;
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: 1fr;
  justify-content: space-around;
  background: #f4f4f4;
  color: #333;
  align-items: start;
}
@media (min-width: 800px) {
  .footer {
    grid-template-columns: 300px 300px ;
  }
}
@media (min-width: 1200px) {
  .footer {
    grid-template-columns: 300px 300px 300px ;
  }
}
.footer > .part {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
}
@media (min-width: 350px) {
  .footer > .part {
    grid-template-columns: auto 1fr;
  }
}
.footer > .part > strong,
.footer > .part > a {
  grid-column:  1 / -1;
}
.footer > .part a {
  color: inherit;
  text-decoration: underline;
}
.footer > .part a:visited {
  color: #000000;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  margin: 80px auto 40px auto;
  justify-content: space-around;
  grid-gap: 60px;
  padding: 0 60px;
}
.grid .grid-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.grid .grid-item h3 {
  font-size: bold;
  color: #333;
}
.grid .grid-item > p {
  font-size: inherit;
  text-align: left;
  color: #666;
}
.grid .grid-item > a {
  display: block;
  line-height: 20px;
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.grid .grid-item > .detail {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 20px;
  padding: 10px 0;
  opacity: 0.3;
}
.blogPost {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
}
@media (min-width: 1030px) {
  .blogPost {
    padding: 60px;
  }
}
.blogPost h2 {
  color: #333;
}
.blogPost .intro {
  opacity: 0.5;
}
.blogPost img {
  max-width: 100%;
  margin: 20px 0;
  display: block;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
