@grey: #0e212b;
@green: #88aa02;
@lightBlue: #89caf5;
@lightGrey: #f5f5f5;
@tablet: 800px;
@desktop:1100px;


@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&subset=latin-ext');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
  @media (min-width: @tablet) {
    font-size: 150%;
  }
}

.slide {
  &:after {
    content: "";
    height: 70vh;
    width: 1px;
    display: block;
  }
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .wrapper {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

    @media (max-width: @tablet) {
      &.centerOnSmallScreen {
        text-align: center;
      }
    }

    @media (min-width: @tablet) {
      padding-left: 52.5%;
    }
    @media (min-width: @desktop) {
      padding-left: 500px;
      max-width: 1100px;
    }

    & > .img {

      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: @tablet) {
        position: absolute;
        left: 0;
        width: 47.5%;
        top: 50%;
        height: 60vh;
        transform: translate(0, -50%);
      }
      @media (min-width: @desktop) {
        width: 450px;
        height: 60vh;
      }
      & > img {
        width: auto;
        height: auto;
        @media (max-width: @tablet) {
          max-width: 70vw;
          max-height: 50vh;
          margin: 10px;
        }
        @media (min-width: @tablet) {
          max-width: 30vw;
        }

        max-height: 100%;
        &.upScale {
          width: 100%;
          height: 50vh;
          max-height: 400px;
        }
      }
      &.touchLeft {
        // The arrow coming from the left graph for ideas
        margin-left: -1rem;
        justify-content: flex-start;
        & > img {
          @media (min-width: @tablet) {
            position: absolute;
            left: -1rem;
          }
          margin-left: 0;
          max-width: 100%;
        }
      }
    }
    h1, h2 {

        font-size: 2em;
        font-weight: 400;
        margin: 40px 0 0 0;
        text-align: center;

      @media (min-width: @tablet) {
        font-size: 40px;
        font-weight: 100;
        text-align: left;
      }
      @media (min-width: @desktop) {
        font-size: 80px;
      }

    }
    p {
      line-height: 1.5;
    }
  }
}

.slide:nth-child(2n+1) {
  background-color: @lightBlue;
  background: radial-gradient(@lightBlue, darken(@lightBlue, 5%));
  color: white;
}

.slide:nth-child(2n) {
  background-color: @lightGrey;
  background: radial-gradient(@lightGrey, darken(@lightGrey, 10%));
  color: #333;
}

.button {
  display: inline-block;
  background: #88AA02;
  text-decoration: none;
  color: white;
  text-align: center;
  border: none;
  padding: 1em 2em;
  margin: 0.5em 0;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgb(103, 130, 0);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.21);

  &:active,
  &:focus {
    box-shadow: 0 0px 0 rgb(103, 130, 0);
    transform: translate(0, 2px);
    background-color: #80a000;
    transition: transform 0.2s, box-shadow 0.2s;
  }
}

ul.check {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 10px 20px 50px;
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      background: url("./svg/check.svg");
      position: absolute;
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;

    }
  }
}

//
//.slideShow {
//  position: relative;
//  width: 100%;
//  height: 500px;
//  padding: 0 40px 20px 40px;
//  .next, .prev {
//    background: rgba(0, 0, 0, 0.2);
//    color: white;
//    &:hover{
//      background: rgba(0, 0, 0, 0.3);
//
//    }
//    width: 40px;
//    height: 40px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    border-radius: 50%;
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    margin: auto;
//    cursor: pointer;
//    -webkit-user-select: none;
//  }
//  .prev {
//    left: 0;
//  }
//  .next {
//    right: 0;
//  }
//
//  .part {
//    height: 100%;
//    text-align: center;
//    justify-content: center;
//    display: flex;
//    flex-direction: column;
//    //align-items: center;
//    &>*{
//      flex-grow: 0;
//    }
//    &>.img{
//      flex-grow:1;
//      flex-shrink: 1;
//      background-repeat: no-repeat;
//      background-size: contain;
//      background-position: center;
//
//      width: 90%;
//      align-self: center;
//    }
//    &>ul{
//      list-style: square;
//      text-align: left;
//    }
//  }
//  .dots{
//    display:flex;
//    position:absolute;
//    justify-content: center;
//    opacity: 0.5;
//    bottom:0;
//    left:0;
//    right:0;
//    i{
//      margin-left:4px;
//      width:8px;
//      height:8px;
//      display:inline-block;
//      border:1px solid #333;
//      border-radius:50%;
//      &.active{
//        background:#333
//      }
//    }
//  }
//}
nav#topMenu {
  z-index: 10;
  position: fixed;
  #toggleMenu {
    position: absolute;
    left: -@tablet;
    opacity: 0;
  }
  label.toggleMenu {
    display: none;
    position: absolute;
    bottom: -60px;
    right: 0;
    padding: 10px;
    background: #3091cf;
    color: #ffffff;
    margin: 10px;
    text-transform: uppercase;
  }

  @media (max-width: @tablet) {
    flex-wrap: wrap;
    flex-direction: column;
    background: none;
    a.try {
      align-self: flex-end;
    }

    #toggleMenu ~ a {
      display: none;
      z-index: 1;
    }

    #toggleMenu:checked ~ a {
      display: block;
    }

    label.toggleMenu {
      display: block;
    }

    #toggleMenu:checked ~ .toggleMenu:before {
      content: "";
      display: block;
      position: fixed;
      background: rgba(0, 0, 0, 0.2);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: @lightBlue;
  a {
    text-decoration: none;
    padding: 20px 10px;
    color: white;

    @media (min-width: @tablet) {
      min-width: 100px;
      text-align: center;
    }
    font-size: 16px;
    background: @lightBlue;
    &:hover, &.isCurrentPage {
      background: darken(@lightBlue, 5%);
    }

    &.try {
      padding: 10px;
      margin: 10px;
      background: @green;
      text-transform: uppercase;
      &:hover {
        background: darken(@green, 5%);
      }
    }
  }
  .grow {
    flex-grow: 1;
  }
}

@media (min-width: @tablet) {
  .slide:first-child {
    padding-top: 68px;
  }
}

.footer {
  padding:2em 0;
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  border-top: 1px solid #dadada;
  margin: 0;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  order: 2;
  .part {
    padding: 0.5em;
    a {
      margin: 0 5px;
      color: inherit;
    }
  }
}

@import "blog.less";