@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&subset=latin-ext');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
}
@media (min-width: 800px) {
  body {
    font-size: 150%;
  }
}
.slide {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.slide:after {
  content: "";
  height: 70vh;
  width: 1px;
  display: block;
}
.slide .wrapper {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .slide .wrapper.centerOnSmallScreen {
    text-align: center;
  }
}
@media (min-width: 800px) {
  .slide .wrapper {
    padding-left: 52.5%;
  }
}
@media (min-width: 1100px) {
  .slide .wrapper {
    padding-left: 500px;
    max-width: 1100px;
  }
}
.slide .wrapper > .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .slide .wrapper > .img {
    position: absolute;
    left: 0;
    width: 47.5%;
    top: 50%;
    height: 60vh;
    transform: translate(0, -50%);
  }
}
@media (min-width: 1100px) {
  .slide .wrapper > .img {
    width: 450px;
    height: 60vh;
  }
}
.slide .wrapper > .img > img {
  width: auto;
  height: auto;
  max-height: 100%;
}
@media (max-width: 800px) {
  .slide .wrapper > .img > img {
    max-width: 70vw;
    max-height: 50vh;
    margin: 10px;
  }
}
@media (min-width: 800px) {
  .slide .wrapper > .img > img {
    max-width: 30vw;
  }
}
.slide .wrapper > .img > img.upScale {
  width: 100%;
  height: 50vh;
  max-height: 400px;
}
.slide .wrapper > .img.touchLeft {
  margin-left: -1rem;
  justify-content: flex-start;
}
.slide .wrapper > .img.touchLeft > img {
  margin-left: 0;
  max-width: 100%;
}
@media (min-width: 800px) {
  .slide .wrapper > .img.touchLeft > img {
    position: absolute;
    left: -1rem;
  }
}
.slide .wrapper h1,
.slide .wrapper h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 40px 0 0 0;
  text-align: center;
}
@media (min-width: 800px) {
  .slide .wrapper h1,
  .slide .wrapper h2 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
  }
}
@media (min-width: 1100px) {
  .slide .wrapper h1,
  .slide .wrapper h2 {
    font-size: 80px;
  }
}
.slide .wrapper p {
  line-height: 1.5;
}
.slide:nth-child(2n+1) {
  background-color: #89caf5;
  background: radial-gradient(#89caf5, #71bff3);
  color: white;
}
.slide:nth-child(2n) {
  background-color: #f5f5f5;
  background: radial-gradient(#f5f5f5, #dcdcdc);
  color: #333;
}
.button {
  display: inline-block;
  background: #88AA02;
  text-decoration: none;
  color: white;
  text-align: center;
  border: none;
  padding: 1em 2em;
  margin: 0.5em 0;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 0 #678200;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
}
.button:active,
.button:focus {
  box-shadow: 0 0px 0 #678200;
  transform: translate(0, 2px);
  background-color: #80a000;
  transition: transform 0.2s, box-shadow 0.2s;
}
ul.check {
  list-style: none;
  padding: 0;
}
ul.check li {
  padding-left: 50px;
  margin: 20px 0;
  position: relative;
}
ul.check li:before {
  content: "";
  width: 30px;
  background: url("/svg/check.min.svg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
nav#topMenu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: #89caf5;
}
nav#topMenu #toggleMenu {
  position: absolute;
  left: -800px;
  opacity: 0;
}
nav#topMenu label.toggleMenu {
  display: none;
  position: absolute;
  bottom: -60px;
  right: 0;
  padding: 10px;
  background: #3091cf;
  color: #ffffff;
  margin: 10px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  nav#topMenu {
    flex-wrap: wrap;
    flex-direction: column;
    background: none;
  }
  nav#topMenu a.try {
    align-self: flex-end;
  }
  nav#topMenu #toggleMenu ~ a {
    display: none;
    z-index: 1;
  }
  nav#topMenu #toggleMenu:checked ~ a {
    display: block;
  }
  nav#topMenu label.toggleMenu {
    display: block;
  }
  nav#topMenu #toggleMenu:checked ~ .toggleMenu:before {
    content: "";
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}
nav#topMenu a {
  text-decoration: none;
  padding: 20px 10px;
  color: white;
  font-size: 16px;
  background: #89caf5;
}
@media (min-width: 800px) {
  nav#topMenu a {
    min-width: 100px;
    text-align: center;
  }
}
nav#topMenu a:hover,
nav#topMenu a.isCurrentPage {
  background: #71bff3;
}
nav#topMenu a.try {
  padding: 10px;
  margin: 10px;
  background: #88aa02;
  text-transform: uppercase;
}
nav#topMenu a.try:hover {
  background: #749102;
}
nav#topMenu .grow {
  flex-grow: 1;
}
@media (min-width: 800px) {
  .slide:first-child {
    padding-top: 68px;
  }
}
.footer {
  padding: 2em;
  font-size: 12px;
  border-top: 1px solid #dadada;
  margin: 0;
  line-height: 1.5;
  order: 2;
  position: relative;
}
.footer .part {
  padding: 0.5em;
}
.footer .part a {
  margin: 0 5px;
  color: inherit;
}
@media (min-width: 900px) {
  .footer {
    padding-right: 50%;
  }
}
.footer form {
  margin: 2em 0;
  background: #efefef;
  display: flex;
  padding: 1em;
  border-radius: 0.5em;
}
.footer form #email {
  height: 3em;
  line-height: 3em;
  border: 1px solid #AAA;
  flex-grow: 1;
  padding: 0 1em;
  background: white;
  margin-right: 1em;
  border-radius: 0.5em;
}
.footer form #send {
  border-radius: 0.5em;
  padding: 0 1em;
  margin: 0;
  height: 3em;
  line-height: 3em;
}
.blog {
  background: #87caf5;
  padding-top: 55px;
}
.blog a {
  color: #2387c8;
  margin-top: 20px;
  text-decoration: none;
}
.blog a:visited {
  color: #7d9cb1;
}
.blog a:hover span {
  text-decoration: underline;
}
.blog a.back {
  display: block;
}
.blog a.back:before {
  content: "‹";
  font-size: 120%;
  margin-right: 10px;
}
.blog a.front {
  display: block;
  text-align: right;
}
.blog a.front:after {
  text-decoration: none;
  content: "›";
  margin-left: 7px;
  font-size: 1.7em;
  line-height: 1;
  position: relative;
  top: 0.1em;
}
.blog h1 {
  background: #88caf5;
  color: white;
  order: 2;
  font-weight: 100;
  margin: 0;
  font-size: 80px;
  padding: 120px 20px 60px 20px;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 400px) {
  .blog h1 {
    font-size: 40px;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .blog h1 {
    position: fixed;
    padding-left: 55%;
    text-align: left;
  }
}
.blog .list {
  position: relative;
  z-index: 2;
  background: #f9f9f9;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1200px) {
  .blog .list {
    margin: -20px auto;
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .blog .list {
    margin: 80px 50% 40px 40px;
  }
}
.blog .list .blogItem {
  margin-bottom: 50px;
  position: relative;
}
.blog .list .blogItem .date {
  opacity: 0.3;
}
.blog .list .blogItem .title {
  font-weight: bold;
  font-size: 150%;
  color: #333;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
.blog .list .blogItem .intro {
  color: #666;
}
.blog .list.blogpost {
  overflow: hidden;
}
.blog .list.blogpost h2 {
  font-weight: bold;
  font-size: 150%;
  color: #333;
  line-height: 1.1;
  margin-bottom: 0.6em;
  margin-top: 0;
}
.blog .list.blogpost .intro {
  opacity: 0.5;
}
.blog .list.blogpost img {
  max-width: 100%;
  margin: 20px 0;
  display: block;
}
.blog ~ .footer {
  padding: 40px;
}
@media (min-width: 1200px) {
  .blog ~ .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: flex-start;
    z-index: 1;
    background: #f9f9f9;
    border-top: none;
    padding-left: 55%;
  }
}
